<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.jboss.ide.eclipse.as.core.jmxRunner">
      <jmxRunner
            class="org.jboss.ide.eclipse.as.jmx.integration.JBossServerJMXRunner">
      </jmxRunner>
   </extension>
   <extension
         point="org.jboss.tools.jmx.core.MBeanServerConnectionProvider">
      <connectionProvider
            class="org.jboss.ide.eclipse.as.jmx.integration.JBossServerConnectionProvider">
      </connectionProvider>
   </extension>

   <extension
         point="org.jboss.ide.eclipse.as.core.pollers">
      <serverPoller
            class="org.jboss.ide.eclipse.as.jmx.integration.JMXPoller"
            id="org.jboss.ide.eclipse.as.core.runtime.server.JMXPoller"
            name="JMX"
            serverTypes="org.jboss.ide.eclipse.as.32,org.jboss.ide.eclipse.as.40,org.jboss.ide.eclipse.as.42,org.jboss.ide.eclipse.as.50,org.jboss.ide.eclipse.as.51,org.jboss.ide.eclipse.as.60,org.jboss.ide.eclipse.as.eap.43,org.jboss.ide.eclipse.as.eap.50"
            supportsShutdown="true"
            supportsStartup="true"/>
   </extension>
   
   <extension
         point="org.jboss.ide.eclipse.as.core.pollerFailureHandler">
      <pollerHandler
            class="org.jboss.ide.eclipse.as.jmx.integration.SecurityFailureHandler"
            id="org.jboss.ide.eclipse.as.ui.launch.jmxSecurityCredentialProvider">
      </pollerHandler>
   </extension>
   
   	<extension
      point="org.eclipse.ui.navigator.navigatorContent">
    <actionProvider
          class="org.jboss.ide.eclipse.as.jmx.integration.JMXProvider$ActionProvider"
          id="org.jboss.ide.eclipse.as.ui.extensions.showInJMXView">
       <enablement>
          <instanceof
                value="org.eclipse.wst.server.core.IServer">
          </instanceof>
       </enablement>
    </actionProvider>
    <navigatorContent
          name="%NavigatorContent_JMX"
          id="org.jboss.ide.eclipse.as.ui.extensions.jmx"
          icon="$nl$/icons/jmeth_obj.gif"
          activeByDefault="false"
          priority="low"
          contentProvider="org.jboss.ide.eclipse.as.jmx.integration.JMXProvider$ContentProvider"
          labelProvider="org.jboss.ide.eclipse.as.jmx.integration.JMXProvider$LabelProvider">
       <triggerPoints>
          <instanceof
                value="org.eclipse.wst.server.core.IServer">
          </instanceof>
       </triggerPoints>
       <possibleChildren>
          <or>
             <instanceof
                   value="org.jboss.tools.jmx.core.tree.Node">
             </instanceof>
             <instanceof
                   value="org.jboss.tools.jmx.ui.internal.views.navigator.MBeanExplorerContentProvider$DelayProxy">
             </instanceof>
             <instanceof
                   value="org.jboss.tools.jmx.core.MBeanFeatureInfoWrapper">
             </instanceof>
          </or>
       </possibleChildren>
    </navigatorContent>    
    </extension>
    	<extension
	      point="org.eclipse.ui.navigator.viewer">
	   <viewerContentBinding
	         viewerId="org.eclipse.wst.server.ui.ServersView">
	      <includes>
             <contentExtension
                   isRoot="false"
                   pattern="org.jboss.ide.eclipse.as.ui.extensions.jmx">
             </contentExtension>
             <contentExtension
                   isRoot="false"
                   pattern="org.jboss.tools.jmx.ui.internal.views.navigator.JMXLinkHelper">
             </contentExtension>
	      </includes>
	   </viewerContentBinding>
    <viewerActionBinding
          viewerId="org.eclipse.wst.server.ui.ServersView">
       <includes>
          <actionExtension
                pattern="org.jboss.ide.eclipse.as.ui.extensions.showInJMXView"/>
          <actionExtension
                pattern="org.jboss.tools.jmx.ui.internal.views.navigator.actionProvider">
          </actionExtension>
       </includes>
    </viewerActionBinding>
	</extension>
</plugin>
