<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
         point="org.jboss.tools.runtime.core.runtimeDetectors">
    	<runtimeDetector 
    	    id="org.jboss.tools.runtime.handlers.JBossASHandler"
    		name="JBoss AS"
       		class="org.jboss.tools.runtime.handlers.JBossASHandler"
       		preferenceId="org.eclipse.wst.server.ui.runtime.preferencePage"
       		priority="100"/>
	</extension>
	
	
   <extension
         point="org.jboss.tools.runtime.core.downloadruntimes">
      <runtime
            id="org.jboss.tools.runtime.core.as.328" 
            name="JBoss AS 3.2.8"
            version="3.2.8"
            size="100MB"
            licenseUrl="http://www.gnu.org/licenses/lgpl-2.1.txt"
            url="http://repository.jboss.org/sourceforge/jboss-3.2.8.SP1.zip"
            disclaimer="true"/>
      <runtime
            id="org.jboss.tools.runtime.core.as.405" 
            name="JBoss AS 4.0.5"
            version="4.0.5"
            size="100MB"
            licenseUrl="http://www.gnu.org/licenses/lgpl-2.1.txt"
            url="http://repository.jboss.org/sourceforge/jboss-4.0.5.GA.zip"
            disclaimer="true"/>
      <runtime
            id="org.jboss.tools.runtime.core.as.423" 
            name="JBoss AS 4.2.3"
            version="4.2.3"
            size="100MB"
            licenseUrl="http://www.gnu.org/licenses/lgpl-2.1.txt"
            url="http://sourceforge.net/projects/jboss/files/JBoss/JBoss-4.2.3.GA/jboss-4.2.3.GA-jdk6.zip?use_mirror=autoselect"
            disclaimer="true"/>
          
      <runtime
            id="org.jboss.tools.runtime.core.as.501" 
            name="JBoss AS 5.0.1"
            version="5.0.1"
            size="100MB"
            licenseUrl="http://www.gnu.org/licenses/lgpl-2.1.txt"
            url="http://repository.jboss.org/sourceforge/jboss-5.0.1.GA.zip"
            disclaimer="true"/>
      <runtime
            id="org.jboss.tools.runtime.core.as.510" 
            name="JBoss AS 5.1.0"
            version="5.1.0"
            size="100MB"
            licenseUrl="http://www.gnu.org/licenses/lgpl-2.1.txt"
            url="http://repository.jboss.org/sourceforge/jboss-5.1.0.GA.zip"
            disclaimer="true"/>
            
      <runtime
            id="org.jboss.tools.runtime.core.as.610" 
            name="JBoss AS 6.1.0"
            version="6.1.0.Final"
            size="183MB"
            licenseUrl="http://www.gnu.org/licenses/lgpl-2.1.txt"
            url="http://download.jboss.org/jbossas/6.1/jboss-as-distribution-6.1.0.Final.zip?use_mirror=autoselect"
            disclaimer="true"/>
      <runtime
            id="org.jboss.tools.runtime.core.as.701" 
            name="JBoss AS 7.0.1 Everything (NOT Java EE6 Certified)"
            version="7.0.1.Final"
            size="74MB"
            licenseUrl="http://www.gnu.org/licenses/lgpl-2.1.txt"
            url="http://download.jboss.org/jbossas/7.0/jboss-as-7.0.1.Final/jboss-as-7.0.1.Final.zip?use_mirror=autoselect"
            disclaimer="true"/>
      <runtime
            id="org.jboss.tools.runtime.core.as.702" 
            name="JBoss AS 7.0.2 Everything (NOT Java EE6 Certified)"
            version="7.0.2.Final"
            size="75MB"
            licenseUrl="http://www.gnu.org/licenses/lgpl-2.1.txt"
            url="http://download.jboss.org/jbossas/7.0/jboss-as-7.0.2.Final/jboss-as-7.0.2.Final.zip?use_mirror=autoselect"
            disclaimer="true"/>
      <runtime
            id="org.jboss.tools.runtime.core.as.711" 
            name="JBoss AS 7.1.1 Certified Java EE 6 Full Profile"
            version="7.1.1.Final"
            size="127MB"
            licenseUrl="http://www.gnu.org/licenses/lgpl-2.1.txt"
            url="http://download.jboss.org/jbossas/7.1/jboss-as-7.1.1.Final/jboss-as-7.1.1.Final.zip?use_mirror=autoselect"
            disclaimer="true"/>
      <runtime
            id="org.jboss.tools.runtime.core.as.710" 
            name="JBoss AS 7.1.0 Certified Java EE 6 Full Profile"
            version="7.1.0.Final"
            size="100MB"
            licenseUrl="http://www.gnu.org/licenses/lgpl-2.1.txt"
            url="http://download.jboss.org/jbossas/7.1/jboss-as-7.1.0.Final/jboss-as-7.1.0.Final.zip?use_mirror=autoselect"
            disclaimer="true"/>
     </extension>
     
     
     
   <!-- Another set of hugely verbose and unnecessary xml for downloading remote jboss-as installations -->
	<extension point="org.eclipse.wst.server.core.installableRuntimes">
       <runtime
          id="org.jboss.ide.eclipse.as.runtime.32"
          licenseUrl="http://www.gnu.org/licenses/lgpl-2.1.txt"
          archiveUrl="http://repository.jboss.org/sourceforge/jboss-3.2.8.SP1.zip"
          archivePath="jboss-3.2.8.SP1.zip"/>
       <runtime
          id="org.jboss.ide.eclipse.as.runtime.40"
          licenseUrl="http://www.gnu.org/licenses/lgpl-2.1.txt"
          archiveUrl="http://repository.jboss.org/sourceforge/jboss-4.0.5.GA.zip"
          archivePath="jboss-4.0.5.GA"/>
       <runtime
          id="org.jboss.ide.eclipse.as.runtime.42"
          licenseUrl="http://www.gnu.org/licenses/lgpl-2.1.txt"
          archiveUrl="http://repository.jboss.org/sourceforge/jboss-4.2.3.GA.zip"
          archivePath="jboss-4.2.3.GA"/>
       <runtime
          id="org.jboss.ide.eclipse.as.runtime.50"
          licenseUrl="http://www.gnu.org/licenses/lgpl-2.1.txt"
          archiveUrl="http://repository.jboss.org/sourceforge/jboss-5.0.1.GA.zip"
          archivePath="jboss-5.0.1.GA"/>
       <runtime
          id="org.jboss.ide.eclipse.as.runtime.51"
          licenseUrl="http://www.gnu.org/licenses/lgpl-2.1.txt"
          archiveUrl="http://repository.jboss.org/sourceforge/jboss-5.1.0.GA.zip"
          archivePath="jboss-5.1.0.GA"/>
       <runtime
          id="org.jboss.ide.eclipse.as.runtime.60"
          licenseUrl="http://www.gnu.org/licenses/lgpl-2.1.txt"
          archiveUrl="http://download.jboss.org/jbossas/6.1/jboss-as-distribution-6.1.0.Final.zip"
          archivePath="jboss-6.1.0.Final"/>
       <runtime
          id="org.jboss.ide.eclipse.as.runtime.70"
          licenseUrl="http://www.gnu.org/licenses/lgpl-2.1.txt"
          archiveUrl="http://download.jboss.org/jbossas/7.0/jboss-as-7.0.2.Final/jboss-as-web-7.0.2.Final.zip"
          archivePath="jboss-as-7.0.2.Final"/>
       <runtime
          id="org.jboss.ide.eclipse.as.runtime.71"
          licenseUrl="http://www.gnu.org/licenses/lgpl-2.1.txt"
          archiveUrl="http://download.jboss.org/jbossas/7.1/jboss-as-7.1.1.Final/jboss-as-7.1.1.Final.zip"
          archivePath="jboss-as-7.1.1.Final"/>
	</extension>
     
</plugin>
