<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="referenceResolver" name="referenceResolver" schema="schema/referenceResolver.exsd"/>
   <extension
         point="org.jboss.ide.eclipse.as.wtp.core.referenceResolver">
      <resolver
            class="org.jboss.ide.eclipse.as.wtp.core.vcf.OutputFolderReferenceResolver"
            id="org.jboss.ide.eclipse.as.wtp.core.vcf.outputFolderReferenceResolver">
      </resolver>
      <resolver
            class="org.jboss.ide.eclipse.as.wtp.core.vcf.ExportedClassFolderReferenceResolver"
            id="org.jboss.ide.eclipse.as.wtp.core.vcf.exportedClasspathFolderReferenceResolver">
      </resolver>
   </extension>
 
</plugin>
