<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.eclipse.ui.propertyPages">
 
     
<!-- =========== org.eclipse.jst.j2ee.internal.J2EEDependencyPage ============ -->
      <page
            adaptable="true"
      		objectClass="org.eclipse.core.resources.IProject"
      		name="JEE Module Dependencies (JBT Beta)"
            class="org.jboss.ide.eclipse.as.wtp.override.ui.properypage.J2EEDependenciesPage"
            id="org.jboss.ide.eclipse.as.wtp.override.ui.J2EEDependenciesPage">
           <enabledWhen>
			<and>
				<adapt
					type="org.eclipse.core.resources.IProject">
					<or> 
						<test forcePluginActivation="true"
							property="org.eclipse.wst.common.project.facet.core.projectFacet"
							value="jst.web" />
						<test forcePluginActivation="true"
							property="org.eclipse.wst.common.project.facet.core.projectFacet"
							value="jst.ejb" />
						<test forcePluginActivation="true"
							property="org.eclipse.wst.common.project.facet.core.projectFacet"
							value="jst.utility" />
						<test forcePluginActivation="true"
							property="org.eclipse.wst.common.project.facet.core.projectFacet"
							value="jst.ear" />
						<test forcePluginActivation="true"
							property="org.eclipse.wst.common.project.facet.core.projectFacet"
							value="jst.appclient" />
						<test forcePluginActivation="true"
							property="org.eclipse.wst.common.project.facet.core.projectFacet"
							value="jst.connector" />
					</or>
				</adapt>
			</and> 
         </enabledWhen>          
      </page>
      </extension>
</plugin>
