<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="moduleDependencyPropertyPage" name="org.jboss.ide.eclipse.as.wtp.override.moduleDependencyPropertyPage" schema="schema/moduleDependencyPropertyPage.exsd"/>
   <extension-point id="referenceWizardFragment" name="referenceWizardFragment" schema="schema/referenceWizardFragment.exsd"/>
    <extension point="org.eclipse.ui.propertyPages">
 
     
<!-- =========== org.eclipse.jst.j2ee.internal.J2EEDependencyPage ============ -->
      <page
            adaptable="true"
      		objectClass="org.eclipse.core.resources.IProject"
      		name="Module Dependencies (JBT)"
            class="org.jboss.ide.eclipse.as.wtp.override.ui.propertypage.ModuleAssemblyRootPage"
            id="org.jboss.ide.eclipse.as.wtp.override.ui.J2EEDependenciesPage">
           <enabledWhen>
			<and>
				<adapt
					type="org.eclipse.core.resources.IProject">
				</adapt>
			</and> 
         </enabledWhen>          
      </page>
      </extension>
    <extension
          point="org.jboss.ide.eclipse.as.wtp.override.ui.moduleDependencyPropertyPage">
       <dependencyPage
             class="org.jboss.ide.eclipse.as.wtp.override.ui.propertypage.impl.EarModuleDependencyPageProvider"
             id="org.jboss.ide.eclipse.as.wtp.override.ui.earDependencyPage">
       </dependencyPage>
    </extension>
    <extension
          point="org.jboss.ide.eclipse.as.wtp.override.ui.referenceWizardFragment">
       <referenceFragment
             class="org.jboss.ide.eclipse.as.wtp.override.ui.propertypage.ProjectReferenceWizardFragment"
             id="org.jboss.ide.eclipse.as.wtp.override.ui.newProjectReference"
             name="Project">
       </referenceFragment>
       <referenceFragment
             class="org.jboss.ide.eclipse.as.wtp.override.ui.propertypage.JarReferenceWizardFragment"
             id="org.jboss.ide.eclipse.as.wtp.override.ui.jarReference"
             name="Jar">
       </referenceFragment>
       <referenceFragment
             class="org.jboss.ide.eclipse.as.wtp.override.ui.propertypage.ExternalJarReferenceWizardFragment"
             id="org.jboss.ide.eclipse.as.wtp.override.ui.externalJarReference"
             name="External Jar">
       </referenceFragment>
       <referenceFragment
             class="org.jboss.ide.eclipse.as.wtp.override.ui.propertypage.VariableReferenceWizardFragment"
             id="org.jboss.ide.eclipse.as.wtp.override.ui.variableReference"
             name="Variable">
       </referenceFragment>
    </extension>
</plugin>
