<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   
   <extension
         point="org.eclipse.ui.views">
      <category
            name="RSP Server"
            id="org.jboss.tools.as.rsp.ui">
      </category>
      <view
            category="org.jboss.tools.as.rsp.ui"
            class="org.jboss.tools.as.rsp.ui.internal.views.navigator.RSPNavigator"
            icon="icons/community-24x24.png"
            id="org.jboss.tools.as.rsp.ui.internal.views.navigator.RSPNavigator"
            name="RSP Servers View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.jboss.tools.as.rsp.ui.internal.views.navigator.RSPNavigator">
      </viewer>
      <viewerContentBinding
            viewerId="org.jboss.tools.as.rsp.ui.internal.views.navigator.RSPNavigator">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="org.jboss.tools.as.rsp.ui.internal.views.navigator.root">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.jboss.tools.as.rsp.ui.internal.views.navigator.RSPNavigator">
         <includes>
            <actionExtension
                  pattern="org.jboss.tools.as.rsp.ui.internal.views.navigator.actionProvider">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.jboss.tools.as.rsp.ui.internal.views.navigator.RSPContentProvider"
            icon="icons/server-dark-24x24.png"
            id="org.jboss.tools.as.rsp.ui.internal.views.navigator.root"
            labelProvider="org.jboss.tools.as.rsp.ui.internal.views.navigator.RSPLabelProvider"
            name="RSP Server Content"
            priority="normal">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.jboss.tools.as.rsp.ui.internal.views.navigator.RSPNavigator">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.jboss.tools.as.rsp.ui.model.IRsp">
               </instanceof>
               <instanceof
                     value="org.jboss.tools.as.rsp.ui.internal.views.navigator.RSPContentProvider$ServerStateWrapper">
               </instanceof>
               <instanceof
                     value="org.jboss.tools.as.rsp.ui.internal.views.navigator.RSPContentProvider$DeployableStateWrapper">
               </instanceof>
            </or>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            class="org.jboss.tools.as.rsp.ui.internal.views.navigator.RSPActionProvider"
            id="org.jboss.tools.as.rsp.ui.internal.views.navigator.actionProvider">

         <enablement>
            <or>
               <adapt
                     type="java.util.Collection">
                  <count
                        value="0">
                  </count>
               </adapt>
               <instanceof
                     value="org.jboss.tools.as.rsp.ui.model.IRsp">
               </instanceof>
               <instanceof
                     value="org.jboss.tools.as.rsp.ui.internal.views.navigator.RSPContentProvider$ServerStateWrapper">
               </instanceof>
               <instanceof
                     value="org.jboss.tools.as.rsp.ui.internal.views.navigator.RSPContentProvider$DeployableStateWrapper">
               </instanceof>
            </or>
         </enablement>
      </actionProvider>
   </extension>
</plugin>
