<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="serverSubsystem" name="org.jboss.ide.eclipse.as.wtp.core.server.behavior.serverSubsystem" schema="schema/serverSubsystem.exsd"/>
   <extension-point id="serverProfile" name="org.jboss.ide.eclipse.as.wtp.core.server.behavior.serverProfile" schema="schema/serverProfile.exsd"/>
   <extension-point id="serverBeanTypeProvider" name="serverBeanTypeProvider" schema="schema/serverBeanTypeProvider.exsd"/>
   <extension-point id="consoleWriter" name="org.jboss.ide.eclipse.as.wtp.core.consoleWriter" schema="schema/consoleWriter.exsd"/>
   <extension
         point="org.eclipse.wst.common.modulecore.referenceResolver">
      <resolver
            class="org.jboss.ide.eclipse.as.wtp.core.vcf.OutputFolderReferenceResolver"
            id="org.jboss.ide.eclipse.as.wtp.core.vcf.outputFolderReferenceResolver">
      </resolver>
      <resolver
            class="org.jboss.ide.eclipse.as.wtp.core.vcf.ExportedClassFolderReferenceResolver"
            id="org.jboss.ide.eclipse.as.wtp.core.vcf.exportedClasspathFolderReferenceResolver">
      </resolver>
   </extension>
   <extension
         point="org.eclipse.wst.common.modulecore.flattenParticipantProvider">
      <flattenParticipantProvider
            class="org.jboss.ide.eclipse.as.wtp.core.vcf.JBTHeirarchyParticipantProvider"
            weight="1">
      </flattenParticipantProvider>
   </extension>
   <extension
         point="org.eclipse.wst.common.modulecore.heirarchyFlattenParticipant">
      <heirarchyParticipant
            class="org.jboss.ide.eclipse.as.wtp.core.vcf.JBTHeirarchyParticipant">
      </heirarchyParticipant>
   </extension>
   <extension
         point="org.jboss.ide.eclipse.as.wtp.core.serverBeanTypeProvider">
      <serverBeanTypeProvider
            class="org.jboss.ide.eclipse.as.core.server.bean.JBossServerBeanTypeProvider"
            weight="10">
      </serverBeanTypeProvider>
   </extension>
   
   
</plugin>
