<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="org.eclipse.jst.j2ee.internal"
            class="org.jboss.ide.eclipse.as.wtp.ui.wizards.xpl.export.ProjectModuleExportWizard"
            icon="$nl$/icons/jar_obj.gif"
            id="org.jboss.ide.eclipse.as.wtp.ui.wizards.export.ProjectModuleExportWizard"
            name="Module Archive">
         <description>
            Export any Flexible Module projects into a zipped archive. A "Flexible Project" is a project with the ModuleCore nature.
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
    </extension>
    
    <extension
          point="org.eclipse.ui.commands">
       <command
             defaultHandler="org.jboss.ide.eclipse.as.wtp.ui.commands.FullPublishCommandHandler"
             id="org.jboss.ide.eclipse.as.wtp.ui.fullPublishCommand"
             name="Full Publish">
       </command>
    </extension>
    <extension
          point="org.eclipse.ui.bindings">
       <key
             commandId="org.jboss.ide.eclipse.as.wtp.ui.fullPublishCommand"
             contextId="org.eclipse.ui.contexts.window"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M3+M2+Y F">
       </key>
    </extension>
</plugin>
