<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.launchbar.core.launchBarContributions">
      <objectProvider
            class="org.jboss.tools.wtp.server.launchbar.ModuleObjectProvider"
            id="org.jboss.tools.wtp.server.launchbar.ModuleObjectProvider">
      </objectProvider>
      <descriptorType
            class="org.jboss.tools.wtp.server.launchbar.ModuleDescriptorType"
            id="org.jboss.tools.wtp.server.launchbar.ModuleDescriptorType"
            priority="5">
      </descriptorType>
      <configProvider
            descriptorType="org.jboss.tools.wtp.server.launchbar.ModuleDescriptorType"
            class="org.jboss.tools.wtp.server.launchbar.ModuleLaunchConfigurationProvider"
            priority="1">
      </configProvider>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.jboss.tools.wtp.server.launchbar.ServerLaunchBarDelegate"
            delegateDescription="A launch for executing the &quot;Run on Server&quot; action"
            delegateName="Run On Server Launch"
            id="org.jboss.tools.wtp.server.launchbar.serverAdapterLaunch"
            modes="run,debug,profile"
            name="Server Adapter Launchbar Configuration"
            public="false">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.launchbar.ui.launchBarUIContributions">
      <descriptorUI
            descriptorTypeId="org.jboss.tools.wtp.server.launchbar.ModuleDescriptorType"
            labelProvider="org.jboss.tools.wtp.server.launchbar.ui.ModuleDescriptorLabelProvider">
      </descriptorUI>
      <descriptorUI
            descriptorTypeId="org.jboss.tools.wtp.server.launchbar.ModuleDescriptorType"
            labelProvider="org.jboss.tools.wtp.server.launchbar.ui.ModuleDescriptorLabelProvider">
      </descriptorUI>
   </extension>


   <extension
         point="org.eclipse.launchbar.core.launchTargetTypes">
      <launchTargetType
            id="org.eclipse.launchbar.core.launchTargetType.wst.server"
            provider="org.jboss.tools.wtp.server.launchbar.targets.ServerLaunchTargetProvider">
      </launchTargetType>
   </extension>


</plugin>
