<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.jboss.ide.eclipse.as.ui.DeployMethodUI">
      <ui
            browseBehavior="org.jboss.ide.eclipse.as.rse.ui.RSEBrowseBehavior"
            class="org.jboss.ide.eclipse.as.rse.ui.RSEDeploymentPreferenceUI"
            deployMethodId="rse"
            exploreBehavior="org.jboss.ide.eclipse.as.rse.ui.RSEExploreBehavior">
         <launchTabProvider
               class="org.jboss.ide.eclipse.as.rse.ui.RSELaunchTabProvider"
               serverTypes="%AllJBossServerTypes">
         </launchTabProvider>
      </ui>
   </extension>
</plugin>
