<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- This part should be migrated. Not sure how to do it yet. -->
   <extension
         point="org.jboss.ide.eclipse.as.ui.DeployMethodUI">
      <ui deployMethodId="rse"
      	  class="org.jboss.ide.eclipse.as.rse.ui.RSEDeploymentPreferenceUI"/>
      <ui deployMethodId="rse.mgmt"
      	  class="org.jboss.ide.eclipse.as.rse.ui.RSEDeploymentPreferenceUI"/>
   </extension>
   
   <extension
         point="org.jboss.ide.eclipse.as.wtp.core.serverSubsystem">
      <subsystem
            system="exploreBehavior"
            id="exploreBehavior.rse.default"
            name="Explore Server or Modules (RSE)"
            class="org.jboss.ide.eclipse.as.rse.ui.RSEExploreBehavior">
      </subsystem>
      <subsystemMapping
            id="exploreBehavior.rse.default"
            mappedId="exploreBehavior.rse"
            serverTypes="%AllJBTServerTypes">
      </subsystemMapping>


      <subsystem
            system="browseBehavior"
            id="browseBehavior.rse.default"
            name="Browse Server or Modules (RSE)"
            class="org.jboss.ide.eclipse.as.rse.ui.RSEBrowseBehavior">
      </subsystem>
      <subsystemMapping
            id="browseBehavior.rse.default"
            mappedId="browseBehavior.rse"
            serverTypes="%AllJBTServerTypes">
      </subsystemMapping>
      
      <subsystem
            system="launchTabProvider"
            id="launchTabProvider.rse.default"
            name="Launch Tabs (RSE)"
            class="org.jboss.ide.eclipse.as.rse.ui.RSELaunchTabProvider">
      </subsystem>
      <subsystemMapping
            id="launchTabProvider.rse.default"
            mappedId="launchTabProvider.rse"
            serverTypes="%AllJBossServerTypes">
      </subsystemMapping>
    </extension>
    
    <extension
         point="org.jboss.ide.eclipse.as.wtp.core.serverSubsystem">    
           <subsystem
            system="deploymentPage"
            id="deploymentPage.rse7x"
            name="Deployment Page"
            class="org.jboss.ide.eclipse.as.rse.ui.RSE7xDeploymentPageController">
      </subsystem>
      <subsystemMapping
            id="deploymentPage.rse7x"
            mappedId="deploymentPage.rse7x"
            serverTypes="%ServerTypesJBoss7OrHigher">
      </subsystemMapping>
	</extension>    
    
   
    <extension
          point="org.jboss.ide.eclipse.as.wtp.core.serverProfile">
       <serverProfile id="rse" serverTypes="%AllJBossServerTypes">
          <subsystem system="launchTabProvider" subsystem="launchTabProvider.rse"/>
       </serverProfile>
       <serverProfile id="rse" serverTypes="org.jboss.ide.eclipse.as.systemCopyServer">
          <subsystem system="launchTabProvider" subsystem="launchTabProvider.commandLine"/>
       </serverProfile>
       <serverProfile id="rse" serverTypes="%AllJBTServerTypes">
          <subsystem system="exploreBehavior" subsystem="exploreBehavior.rse"/>
          <subsystem system="browseBehavior" subsystem="browseBehavior.rse"/>
       </serverProfile>
       <serverProfile id="rse" serverTypes="%ServerTypesJBoss6OrLower">
          <subsystem system="deploymentPage" subsystem="deploymentPage.noTemporaryFolder"/>
       </serverProfile>
       <serverProfile id="rse" serverTypes="%ServerTypesJBoss7OrHigher">
          <subsystem system="deploymentPage" subsystem="deploymentPage.rse7x"/>
       </serverProfile>
       
    </extension>
    
    <extension
          point="org.jboss.ide.eclipse.as.wtp.core.serverProfile">
       <serverProfile id="rse.mgmt" serverTypes="%ServerTypesJBoss7OrHigher">
          <subsystem system="deploymentPage" subsystem="deploymentPage.management"/>
          <subsystem system="launchTabProvider" subsystem="launchTabProvider.rse"/>
       </serverProfile>
    </extension>

    <extension
          point="org.jboss.ide.eclipse.as.wtp.ui.ServerProfileWizardFragments">
       <wizardFragment
             id="rg.jboss.ide.eclipse.as.rse.ui.WizardFragment"
             weight="5"
             profile="rse"
             serverTypes="%AllJBTServerTypes"
             class="org.jboss.ide.eclipse.as.rse.ui.RSEWizardFragment">
       </wizardFragment>
       <wizardFragment
             id="rg.jboss.ide.eclipse.as.rse.ui.rsemgmt.WizardFragment"
             weight="5"
             profile="rse.mgmt"
             serverTypes="%ServerTypesJBoss7OrHigher"
             class="org.jboss.ide.eclipse.as.rse.ui.RSEWizardFragment">
       </wizardFragment>
    </extension>
</plugin>
