<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="nodePopupMenus" name="Popup Menus for IPackageNodes" schema="schema/nodePopupMenus.exsd"/>
   <extension-point id="newArchiveActions" name="Actions to create new Package types" schema="schema/newArchiveActions.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="%ViewCategory_JBossTools"
            id="org.jboss.tools.common.model.ui.views">
      </category>
      <view
            allowMultiple="false"
            category="org.jboss.tools.common.model.ui.views"
            class="org.jboss.ide.eclipse.archives.ui.views.ProjectArchivesCommonView"
            icon="$nl$/icons/jar_obj.gif"
            id="org.jboss.ide.eclipse.archives.ui.ProjectArchivesView"
            name="%ViewName_ProjectArchives"/>
   </extension>

   <extension
         point="org.jboss.ide.eclipse.archives.ui.newArchiveActions">
      <newPackageAction
            class="org.jboss.ide.eclipse.archives.ui.actions.NewJARAction"
            icon="$nl$/icons/new_package.gif"
            id="org.jboss.ide.eclipse.archives.ui.newJARAction"
            label="%newPackageAction.label.jar"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.jboss.ide.eclipse.archives.ui.actions.Archives"
            label="Archives"
            visible="true">
         <action
               class="org.jboss.ide.eclipse.archives.ui.actions.BuildAction"
               definitionId="org.jboss.ide.eclipse.packages.ui.actions.BuildArchivesAction"
               icon="$nl$/icons/build_packages.gif"
               id="org.jboss.ide.eclipse.archives.ui.actions.BuildArchivesAction"
               label="Build Packages"
               menubarPath="project/additions"
               style="push">
            <enablement>
               <and>
               	<objectState
                     name="projectNature"
                     value="org.jboss.ide.eclipse.archives.core.archivesNature"/>
               </and>
            </enablement>
         </action>
      </actionSet>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.jboss.ide.eclipse.archives.ui.preferences.MainPreferencePage"
            id="org.jboss.ide.eclipse.archives.ui.archivesPreferencePage"
            name="%PreferencePage_ProjectArchives"/>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.jboss.ide.eclipse.archives.ui.preferences.MainPreferencePage"
            id="org.jboss.ide.eclipse.archives.ui.projectProperties"
            name="%ProjectPropertiesPage_ProjectArchives"
            objectClass="org.eclipse.core.resources.IProject"/>
      <page
            class="org.jboss.ide.eclipse.archives.ui.preferences.MainPreferencePage"
            id="org.jboss.ide.eclipse.archives.ui.projectProperties2"
            name="%ProjectPropertiesPage_ProjectArchives"
            objectClass="org.eclipse.jdt.core.IJavaProject"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.jboss.ide.eclipse.archives.ui.PrefsInitializer"/>
   </extension>
   
   
   
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.jboss.ide.eclipse.archives.ui.ProjectArchivesView">
         <popupMenu>
            <insertionPoint
                  name="org.jboss.ide.eclipse.archives.ui.providers.initialSeparator"
                  separator="false">
            </insertionPoint>
            <insertionPoint
                  name="org.jboss.ide.eclipse.archives.ui.providers.endAddChildSeparator"
                  separator="false">
            </insertionPoint>
         </popupMenu>
      </viewer>
      <viewerContentBinding
            viewerId="org.jboss.ide.eclipse.archives.ui.ProjectArchivesView">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="org.jboss.ide.eclipse.archives.ui.archivesContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.jboss.ide.eclipse.archives.ui.archivesRootBridgeContent"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.jboss.ide.eclipse.archives.ui.ProjectArchivesView">
         <includes>
            <actionExtension
                  pattern="org.jboss.ide.eclipse.archives.ui.providers.ArchivesActionProvider">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerActionBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension
                  pattern="org.jboss.ide.eclipse.archives.ui.providers.ArchivesActionProvider">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.jboss.ide.eclipse.archives.ui.providers.ArchivesRootContentProvider"
            icon="$nl$/icons/jar_obj.gif"
            id="org.jboss.ide.eclipse.archives.ui.archivesContent"
            labelProvider="org.jboss.ide.eclipse.archives.ui.providers.ArchivesLabelProvider"
            name="%NavigatorContent_ArchivesContent"
            priority="higher"
            providesSaveables="true">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.jboss.ide.eclipse.archives.core.model.IArchiveNode">
               </instanceof>
               <instanceof
                     value="org.jboss.ide.eclipse.archives.ui.providers.ArchivesContentProviderDelegate$DelayProxy">
               </instanceof>
               <instanceof
                     value="org.jboss.ide.eclipse.archives.ui.providers.ArchivesContentProviderDelegate$WrappedProject">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IWorkspaceRoot">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.jboss.ide.eclipse.archives.core.model.IArchiveNode">
               </instanceof>
               <instanceof
                     value="org.jboss.ide.eclipse.archives.ui.providers.ArchivesContentProviderDelegate$DelayProxy">
               </instanceof>
               <instanceof
                     value="org.jboss.ide.eclipse.archives.ui.providers.ArchivesContentProviderDelegate$WrappedProject">
               </instanceof>
            </or>
         </possibleChildren>
      </navigatorContent>
      <navigatorContent
            contentProvider="org.jboss.ide.eclipse.archives.ui.providers.ArchivesRootBridgeContentProvider"
            icon="$nl$/icons/jar_obj.gif"
            id="org.jboss.ide.eclipse.archives.ui.archivesRootBridgeContent"
            labelProvider="org.jboss.ide.eclipse.archives.ui.providers.ArchivesLabelProvider"
            name="%NavigatorContent_ProjectArchives"
            priority="highest">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <instanceof
                     value="org.jboss.ide.eclipse.archives.core.model.IArchiveNode">
               </instanceof>
               <instanceof
                     value="org.jboss.ide.eclipse.archives.ui.providers.ArchivesContentProviderDelegate$DelayProxy">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.jboss.ide.eclipse.archives.core.model.IArchiveNode">
               </instanceof>
               <instanceof
                     value="org.jboss.ide.eclipse.archives.ui.providers.ArchivesContentProviderDelegate$DelayProxy">
               </instanceof>
            </or>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            class="org.jboss.ide.eclipse.archives.ui.providers.ArchivesActionProvider"
            id="org.jboss.ide.eclipse.archives.ui.providers.ArchivesActionProvider">
         <enablement>
            <or>
               <instanceof
                     value="org.jboss.ide.eclipse.archives.ui.providers.ArchivesContentProviderDelegate$WrappedProject">
               </instanceof>
               <instanceof
                     value="org.jboss.ide.eclipse.archives.core.model.IArchiveNode">
               </instanceof>
               <adapt
                     type="java.util.Collection">
                  <count
                        value="0">
                  </count>
               </adapt>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
			categoryId="org.jboss.ide.eclipse.archives.ui.commands.projects"
            defaultHandler="org.jboss.ide.eclipse.archives.ui.actions.BuildCommand"
            description="This will build the project archives for the selected project"
            id="org.jboss.ide.eclipse.archives.ui.buildArchiveCommand"
            name="Build Project Archives">
      </command>
      <category
            description="Commands related to projects"
            id="org.jboss.ide.eclipse.archives.ui.commands.projects"
            name="Projects">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.jboss.ide.eclipse.archives.ui.buildArchiveCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+Y B">
      </key>
   </extension>
</plugin>
