<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.jboss.ide.eclipse.as.wtp.core.serverSubsystem">
      <subsystem
            system="deploymentOptions"
            id="deploymentOptions.rse.default"
            name="Server Deployment Settings (RSE)"
            class="org.jboss.ide.eclipse.as.rse.core.subsystems.RSEDeploymentOptionsController">
         <properties>
            <property
                  key="target"
                  value="rse">
            </property>
         </properties>
      </subsystem>
      <subsystemMapping
            id="deploymentOptions.rse.default"
            mappedId="deploymentOptions.rse"
            serverTypes="%AllJBTServerTypes">
      </subsystemMapping>
      
      
      <subsystem
            system="filesystem"
            id="filesystem.rse.default"
            name="Filesystem (RSE)"
            class="org.jboss.ide.eclipse.as.rse.core.subsystems.RSEFilesystemController">
         <properties>
            <property key="target" value="rse"></property>
         </properties>
      </subsystem>
      <subsystemMapping
            id="filesystem.rse.default"
            mappedId="filesystem.rse"
            serverTypes="%AllJBTServerTypes">
      </subsystemMapping>
      
      
      <subsystem
            system="serverDetails"
            id="serverDetails.rse.default"
            name="Server Details (RSE)"
            class="org.jboss.ide.eclipse.as.rse.core.RSEServerModeDetails">
         <properties>
            <property key="target" value="rse"></property>
         </properties>
      </subsystem>
      <subsystemMapping
            id="serverDetails.rse.default"
            mappedId="serverDetails.rse"
            serverTypes="%AllJBTServerTypes">
      </subsystemMapping>
      
      <subsystem
            system="launch"
            id="launch.standard.rse.default"
            name="Launch JBoss Server (RSE)"
            class="org.jboss.ide.eclipse.as.rse.core.subsystems.RSEJBossLaunchController">
         <properties>
            <property key="target" value="rse"></property>
         </properties>
      </subsystem>
      <subsystemMapping
            id="launch.standard.rse.default"
            mappedId="launch.standard.rse"
            serverTypes="%AllJBossServerTypes">
      </subsystemMapping>
      
      
      <subsystem
            system="shutdown"
            id="shutdown.rse.commandline.default"
            name="Shutdown Server (Remote Command Line)"
            class="org.jboss.ide.eclipse.as.rse.core.subsystems.RSEJBossCommandLineShutdownController">
         <properties>
            <property key="target" value="rse"></property>
         </properties>
      </subsystem>
      <subsystemMapping
            id="shutdown.rse.commandline.default"
            mappedId="shutdown.rse.default"
            serverTypes="%ServerTypesJBoss6OrLower">
      </subsystemMapping>
	
      
      <subsystem
            system="launch"
            id="launch.standard.rse.deployOnly.default"
            name="Launch Deploy-Only Server (RSE)"
            class="org.jboss.ide.eclipse.as.rse.core.subsystems.RSECommandLineLaunchController">
         <properties>
            <property key="target" value="rse"></property>
         </properties>
      </subsystem>
      <subsystemMapping
            id="launch.standard.rse.deployOnly.default"
            mappedId="launch.standard.rse"
            serverTypes="org.jboss.ide.eclipse.as.systemCopyServer">
      </subsystemMapping>
            
      <subsystem
            system="shutdown"
            id="shutdown.rse.commandline.deployOnly.default"
            name="Shutdown Server (Remote Command Line)"
            class="org.jboss.ide.eclipse.as.rse.core.subsystems.RSECommandLineShutdownController">
         <properties>
            <property key="target" value="rse"></property>
         </properties>
      </subsystem>
      <subsystemMapping
            id="shutdown.rse.commandline.deployOnly.default"
            mappedId="shutdown.rse.default"
            serverTypes="org.jboss.ide.eclipse.as.systemCopyServer">
      </subsystemMapping>
	</extension>
	
	<extension
          point="org.jboss.ide.eclipse.as.wtp.core.serverProfile">
       <serverProfile id="rse" serverTypes="%AllJBTServerTypes">
          <subsystem system="deploymentOptions" subsystem="deploymentOptions.rse"/>
          <subsystem system="serverDetails" subsystem="serverDetails.rse"/>
          <subsystem system="filesystem" subsystem="filesystem.rse"/>
       	  <initializer class="org.jboss.ide.eclipse.as.rse.core.subsystems.RSEProfileInitializer"/>
          <subsystem system="launch" subsystem="launch.standard.rse"/>
          <subsystem system="publish" subsystem="publish.filesystem.default"/> 
       </serverProfile>
       <!-- as7/wf shutdown is implied and not added, as only 1 shutdown impl is available -->
       <serverProfile id="rse" serverTypes="%ServerTypesJBoss6OrLower">
          <subsystem system="shutdown" subsystem="shutdown.rse.default"/>
       </serverProfile>
       <serverProfile id="rse" serverTypes="org.jboss.ide.eclipse.as.systemCopyServer">
          <subsystem system="shutdown" subsystem="shutdown.rse.default"/>
       </serverProfile>
    </extension>
	
	
</plugin>
