<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- Below here is RSE stuff which can / should be moved if a new plugin is created -->
   <extension
         point="org.jboss.ide.eclipse.as.core.publishMethod">
      <publishMethod
            class="org.jboss.ide.eclipse.as.rse.core.RSEPublishMethod"
            id="rse"
            name="%RSEMethodName"
            serverTypes="org.jboss.ide.eclipse.as.32,org.jboss.ide.eclipse.as.40,org.jboss.ide.eclipse.as.42,org.jboss.ide.eclipse.as.50,org.jboss.ide.eclipse.as.51,org.jboss.ide.eclipse.as.60,org.jboss.ide.eclipse.as.70,org.jboss.ide.eclipse.as.eap.43,org.jboss.ide.eclipse.as.eap.50,org.jboss.ide.eclipse.as.systemCopyServer">
      </publishMethod>
   </extension>
</plugin>
