<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.jboss.ide.eclipse.as.core.behaviourExtension">
      <behaviour
            behaviourDelegate="org.jboss.ide.eclipse.as.core.server.internal.LocalJBossBehaviorDelegate"
            launchDelegate="org.jboss.ide.eclipse.as.core.server.internal.launch.LocalJBossStartLaunchDelegate"
            name="mock4"
            publishMethod="org.jboss.tools.as.test.core.internal.MockPublishMethod4"
            serverTypes="org.jboss.ide.eclipse.as.systemCopyServer"
            typeId="mock4">
      </behaviour>
   </extension>
   <extension
         point="org.jboss.ide.eclipse.as.core.behaviourExtension">
      <behaviour
            behaviourDelegate="org.jboss.ide.eclipse.as.core.server.internal.LocalJBossBehaviorDelegate"
            launchDelegate="org.jboss.ide.eclipse.as.core.server.internal.launch.LocalJBossStartLaunchDelegate"
            name="mock4"
            publishMethod="org.jboss.tools.as.test.core.internal.MockPublishMethod4"
            serverTypes="%ServerTypesJBoss6OrLower"
            typeId="mock4">
      </behaviour>
   </extension>
   <extension
         point="org.jboss.ide.eclipse.as.core.behaviourExtension">
      <behaviour
            behaviourDelegate="org.jboss.ide.eclipse.as.core.server.internal.v7.LocalJBoss7BehaviorDelegate"
            launchDelegate="org.jboss.ide.eclipse.as.core.server.internal.v7.LocalJBoss7StartLaunchDelegate"
            name="mock4"
            publishMethod="org.jboss.tools.as.test.core.internal.MockPublishMethod4"
            serverTypes="%ServerTypesJBoss7"
            typeId="mock4">
      </behaviour>
   </extension>
   
   
   <!-- Polling -->
   <extension
         point="org.jboss.ide.eclipse.as.core.pollers">
      <serverPoller
            class="org.jboss.tools.as.test.core.polling.TestInternalPoller"
            id="org.jboss.tools.as.test.core.poller.TestInternalPoller"
            name="Test Poller"
            serverTypes="org.jboss.ide.eclipse.as.32"
            supportsShutdown="true"
            supportsStartup="true">
       </serverPoller>
   </extension>
   <extension
         point="org.jboss.ide.eclipse.as.core.pollerFailureHandler">
      <pollerHandler
            class="org.jboss.tools.as.test.core.polling.PollerFailureHandler"
            id="org.jboss.tools.as.test.core.polling.pollerFailureHandler">
      </pollerHandler>
   </extension>
   
   
   
   <!-- test classpath variable initializer -->
   <extension
         point="org.eclipse.jdt.core.classpathVariableInitializer">
      <classpathVariableInitializer
            variable="ASTOOLS_TEST_HOME"
            class="org.jboss.tools.as.test.core.internal.utils.classpath.ASToolsInternalVariableInitializer"
            readOnly="true">
      </classpathVariableInitializer>
   </extension>
</plugin>
