<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.wst.xml.core.catalogContributions">
      <catalogContribution>
         <nextCatalog
               catalog="astools_catalog.xml">
         </nextCatalog>
      </catalogContribution>
   </extension>
</plugin>
