<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="EventLogLabelProvider" name="org.jboss.ide.as.ui.eventLogLabelProvider" schema="schema/EventLogLabelProvider.exsd"/>
   <extension-point id="EventLogMajorType" name="org.jboss.ide.eclipse.as.ui.eventLogMajorType" schema="schema/EventLogMajorType.exsd"/>
   <extension-point id="ServerEditorPortSection" name="org.jboss.ide.as.ui.editor.portSection" schema="schema/ServerEditorPortSection.exsd"/>

   <extension
         point="org.eclipse.wst.server.ui.serverImages">
      <image
            icon="$nl$/icons/jboss.gif"
            typeIds="org.jboss.ide.eclipse.as.32,org.jboss.ide.eclipse.as.40,org.jboss.ide.eclipse.as.42,org.jboss.ide.eclipse.as.50,org.jboss.ide.eclipse.as.51,org.jboss.ide.eclipse.as.60,org.jboss.ide.eclipse.as.eap.43,org.jboss.ide.eclipse.as.eap.50"
            id="org.jboss.ide.eclipse.as.ui.jbossIcon"/>
      <image
            icon="$nl$/icons/jboss.gif"
            typeIds="org.jboss.ide.eclipse.as.runtime.32,org.jboss.ide.eclipse.as.runtime.40,org.jboss.ide.eclipse.as.runtime.42,org.jboss.ide.eclipse.as.runtime.50,org.jboss.ide.eclipse.as.runtime.51,org.jboss.ide.eclipse.as.runtime.60,org.jboss.ide.eclipse.as.runtime.eap.43,org.jboss.ide.eclipse.as.runtime.eap.50"
            id="org.jboss.ide.eclipse.as.ui.jbossIcon"/>

      <image
            icon="$nl$/icons/jboss.gif"
            typeIds="org.jboss.ide.eclipse.as.systemCopyServer"
            id="org.jboss.ide.eclipse.as.ui.jbossIcon"/>
      <image
            icon="$nl$/icons/jboss.gif"
            typeIds="org.jboss.ide.eclipse.as.runtime.stripped"
            id="org.jboss.ide.eclipse.as.ui.jbossIcon"/>
   </extension>

   <extension
         point="org.eclipse.wst.server.ui.wizardFragments">
      <fragment
            class="org.jboss.ide.eclipse.as.ui.wizards.JBossRuntimeWizardFragment"
            typeIds="org.jboss.ide.eclipse.as.runtime.32,org.jboss.ide.eclipse.as.runtime.40,org.jboss.ide.eclipse.as.runtime.42,org.jboss.ide.eclipse.as.runtime.50,org.jboss.ide.eclipse.as.runtime.51,org.jboss.ide.eclipse.as.runtime.eap.43"
        	id="org.jboss.ide.eclipse.as.ui.JBossRuntimeWizardFragment"/>
      <!-- Fragment for runtimes that require java 6 -->
      <fragment
            class="org.jboss.ide.eclipse.as.ui.wizards.JBossRuntimeJava6WizardFragment"
            typeIds="org.jboss.ide.eclipse.as.runtime.eap.50,org.jboss.ide.eclipse.as.runtime.60"
        	id="org.jboss.ide.eclipse.as.ui.JBossRuntimeJava6WizardFragment"/>      
      <fragment
            class="org.jboss.ide.eclipse.as.ui.wizards.JBossServerWizardFragment"
            id="org.jboss.ide.eclipse.as.ui.jbossServerWizardFragment"
            typeIds="org.jboss.ide.eclipse.as.32,org.jboss.ide.eclipse.as.40,org.jboss.ide.eclipse.as.42,org.jboss.ide.eclipse.as.50,org.jboss.ide.eclipse.as.51,org.jboss.ide.eclipse.as.60,org.jboss.ide.eclipse.as.eap.43,org.jboss.ide.eclipse.as.eap.50"/>
      <fragment
             class="org.jboss.ide.eclipse.as.ui.wizards.StrippedServerWizardFragment"
             id="org.jboss.ide.eclipse.as.ui.strippedServerWizardFragment"
             typeIds="org.jboss.ide.eclipse.as.systemCopyServer"/>
   </extension>

   <extension point="org.eclipse.ui.startup">
      <startup />
   </extension>


   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.jboss.ide.eclipse.as.ui.launch.JBossLaunchConfigurationTabGroup"
            description="%jbossLaunchconfigurationTabGroupDescription"
            id="org.jboss.ide.eclipse.as.core.jbossLaunchTabGroup"
            type="org.jboss.ide.eclipse.as.core.server.startupConfiguration"/>
   </extension>



   <extension
         point="org.eclipse.wst.server.ui.serverImages">
      <image
            icon="$nl$/icons/J2EEModule16.gif"
            id="org.jboss.ide.eclipse.as.ui.packagedProject.image"
            typeIds="jboss.package"/>
      <image
            icon="$nl$/icons/file.gif"
            id="org.jboss.ide.eclipse.as.ui.simplefile.image"
            typeIds="jboss.singlefile"/>
   </extension>


   <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <adapter>
      <runtime-component id="org.jboss.ide.eclipse.as.runtime.component"/>
      <factory class="org.eclipse.jst.server.ui.internal.RuntimeLabelProvider$Factory"/>
      <type class="org.eclipse.wst.common.project.facet.ui.IRuntimeComponentLabelProvider"/>
    </adapter>
   </extension>
   
   <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <adapter>
      <runtime-component id="org.jboss.ide.eclipse.eap.runtime.component"/>
      <factory class="org.eclipse.jst.server.ui.internal.RuntimeLabelProvider$Factory"/>
      <type class="org.eclipse.wst.common.project.facet.ui.IRuntimeComponentLabelProvider"/>
    </adapter>
   </extension>  

   <extension point="org.eclipse.ui.ide.markerResolution">
  		<markerResolutionGenerator
     class="org.jboss.ide.eclipse.as.ui.marker.MarkerResolutionGenerator"
     markerType="org.eclipse.wst.common.project.facet.core.validation.marker"/>
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="org.jboss.ide.eclipse.as.ui.views.JBossServerView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList"/>
      </perspectiveExtension>
   </extension>

      <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.jboss.ide.eclipse.as.ui.perspective.ASPerspective"
            icon="$nl$/icons/jboss.gif"
            id="org.jboss.ide.eclipse.as.ui.ASPerspective"
            name="%perspective.name"/>
   </extension>
      <extension
            point="org.eclipse.wst.server.ui.initialSelectionProvider">
         <selectionProvider
               class="org.jboss.ide.eclipse.as.ui.wizards.JBInitialSelectionProvider"
               id="org.jboss.ide.eclipse.as.ui.jboss40SelectionProvider"/>
      </extension>
      <extension
            point="org.jboss.ide.eclipse.as.ui.EventLogLabelProvider">
         <labelProvider class="org.jboss.ide.eclipse.as.ui.views.server.providers.events.PollingLabelProvider"/>
         <labelProvider class="org.jboss.ide.eclipse.as.ui.views.server.providers.events.PackagesPublishLabelProvider"/>
      </extension>
      <extension
            point="org.jboss.ide.eclipse.as.ui.EventLogMajorType">
         <MajorType
               name="Build Events"
               typeId="org.jboss.ide.eclipse.as.core.model.Packages"/>
         <MajorType
               name="Startup / Shutdown Events"
               typeId="org.jboss.ide.eclipse.as.core.runtime.server.polling.MajorType"/>
         <MajorType
               name="Publish Events"
               typeId="org.jboss.ide.eclipse.as.core.publishers.Events.MajorType"/>
      </extension>
    <extension
          point="org.eclipse.wst.server.ui.editorPages">
       <page
             class="org.jboss.ide.eclipse.as.ui.editor.ModuleDeploymentPage"
             id="org.jboss.ide.eclipse.as.ui.editor.deploymentPage"
             name="Deployment"
             typeIds="org.jboss.ide.eclipse.as.systemCopyServer, org.jboss.ide.eclipse.as.32,org.jboss.ide.eclipse.as.40,org.jboss.ide.eclipse.as.42,org.jboss.ide.eclipse.as.50,org.jboss.ide.eclipse.as.51,org.jboss.ide.eclipse.as.60,org.jboss.ide.eclipse.as.eap.43,org.jboss.ide.eclipse.as.eap.50">
       </page>
    </extension>

      <extension
         point="org.eclipse.wst.server.ui.editorPageSections">
         <!--
      <section
            class="org.jboss.ide.eclipse.as.ui.editor.DeploySection"
            id="org.jboss.ide.eclipse.as.ui.editor.deployServer.deployDir"
            insertionId="org.eclipse.wst.server.editor.overview.left"
            order="10"
            typeIds="org.jboss.ide.eclipse.as.systemCopyServer, org.jboss.ide.eclipse.as.32, org.jboss.ide.eclipse.as.40, org.jboss.ide.eclipse.as.42, org.jboss.ide.eclipse.as.50,org.jboss.ide.eclipse.as.51,org.jboss.ide.eclipse.as.eap.43,org.jboss.ide.eclipse.as.eap.50"/>
      -->
      
      <section
            class="org.jboss.ide.eclipse.as.ui.editor.PollerSection"
            id="org.jboss.ide.eclipse.as.ui.editor.pollerSection"
            insertionId="org.eclipse.wst.server.editor.overview.right"
            order="10"
            typeIds="org.jboss.ide.eclipse.as.32, org.jboss.ide.eclipse.as.40, org.jboss.ide.eclipse.as.42, org.jboss.ide.eclipse.as.50,org.jboss.ide.eclipse.as.51,org.jboss.ide.eclipse.as.eap.43,org.jboss.ide.eclipse.as.eap.50"/>
      <section
            class="org.jboss.ide.eclipse.as.ui.editor.PortSection"
            id="org.jboss.ide.eclipse.as.ui.editor.portSection"
            insertionId="org.eclipse.wst.server.editor.overview.right"
            order="11"
            typeIds="org.jboss.ide.eclipse.as.32, org.jboss.ide.eclipse.as.40, org.jboss.ide.eclipse.as.42, org.jboss.ide.eclipse.as.50,org.jboss.ide.eclipse.as.51,org.jboss.ide.eclipse.as.eap.43,org.jboss.ide.eclipse.as.eap.50"/>
      <section
            class="org.jboss.ide.eclipse.as.ui.editor.ServerPasswordSection"
            id="org.jboss.ide.eclipse.as.ui.editor.passwordSection"
            insertionId="org.eclipse.wst.server.editor.overview.left"
            order="10"
            typeIds="org.jboss.ide.eclipse.as.32,org.jboss.ide.eclipse.as.40,org.jboss.ide.eclipse.as.42,org.jboss.ide.eclipse.as.50,org.jboss.ide.eclipse.as.51,org.jboss.ide.eclipse.as.eap.43,org.jboss.ide.eclipse.as.eap.50"/>
   </extension>





   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.jboss.ide.eclipse.as.core.server.launchConfiguration"
            icon="$nl$/icons/jboss.gif"
            id="org.jboss.ide.eclipse.as.ui.launchConfigurationImage1"/>
   </extension>

   <extension
         point="org.eclipse.help.contexts">
      <contexts 
            file="InlineDocs/Twiddle/twiddleContext.xml">
      </contexts>
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
	<objectContribution
       adaptable="true"
       id="org.jboss.ide.eclipse.as.ui.popups.makeDeployable.contrib"
       nameFilter="*"
       objectClass="org.eclipse.core.resources.IFile">
      <action
         id="org.jboss.ide.eclipse.as.ui.popups.makeDeployable.action"
         label="Make Publishable"
         icon="$nl$/icons/publish.gif"
         menubarPath="additions"
      class="org.jboss.ide.eclipse.as.ui.actions.DeployAction">
      </action>
   </objectContribution>
</extension>
   <extension
         point="org.eclipse.ui.console.consolePatternMatchListeners">
      <consolePatternMatchListener
            class="org.jboss.ide.eclipse.as.ui.console.ELExceptionsMatcher"
            id="org.jboss.ide.eclipse.as.ui.console.ELExceptionsMatcher"
            regex="Exception.*: .* @[0-9]+,[0-9]+ ">
         <enablement>
         <or>
			  <test property="org.eclipse.ui.console.consoleTypeTest" value="javaStackTraceConsole"/>
               <test property="org.eclipse.debug.ui.processTypeTest" value="java"/>
               <test property="org.eclipse.debug.ui.processTypeTest" value="org.eclipse.ant.ui.antProcess"/>
            </or>
         </enablement>
      </consolePatternMatchListener>
   </extension>
   <extension
         point="org.jboss.ide.eclipse.as.core.pollerFailureHandler">
      <pollerHandler
            class="org.jboss.ide.eclipse.as.ui.launch.SecurityFailureHandler"
            id="org.jboss.ide.eclipse.as.ui.launch.securityPollerHandler">
      </pollerHandler>
   </extension>




   <extension point="org.eclipse.ui.actionSets">
      <actionSet description="%actionSets.serverActions.description" id="org.jboss.tools.jst.web.ui.server.actionSet" label="%actionSets.serverActions.label" visible="true">
         <action class="org.jboss.ide.eclipse.as.ui.actions.SelectServerActionDelegate" icon="$nl$/icons/actions/xpl/server.gif" id="org.jboss.tools.jst.web.ui.action.server.SelectServerActionDelegate" label="label1" style="pulldown" toolbarPath="Normal/SelectServer" tooltip="%actionSets.serverActions.selectServer.label">
         </action>
         <action class="org.jboss.ide.eclipse.as.ui.actions.ChangeTimeStampActionDelegate" icon="$nl$/icons/actions/webxml.gif" id="org.jboss.tools.jst.web.ui.action.server.ChangeTimeStampActionDelegate" label="label2" toolbarPath="Normal/server" tooltip="%actionSets.serverActions.changeWebXmlTimeStamp.label">
         </action>
         <action class="org.jboss.ide.eclipse.as.ui.actions.StopServerActionDelegate" icon="$nl$/icons/actions/stop.gif" id="org.jboss.tools.jst.web.ui.action.server.StopServerActionDelegate" label="label4" toolbarPath="Normal/server" tooltip="%actionSets.serverActions.stopServer.label">
         </action>
         <action class="org.jboss.ide.eclipse.as.ui.actions.DebugServerActionDelegate" icon="$nl$/icons/actions/xpl/debug.gif" id="org.jboss.tools.jst.web.ui.action.server.DebugServerActionDelegate" label="label6" toolbarPath="Normal/server" tooltip="%actionSets.serverActions.startServer.label">
         </action>
         <action class="org.jboss.ide.eclipse.as.ui.actions.RunServerActionDelegate" icon="$nl$/icons/actions/start.gif" id="org.jboss.tools.jst.web.ui.action.server.RunServerActionDelegate" label="label7" toolbarPath="Normal/server" tooltip="%actionSets.serverActions.startServer.label">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.jboss.ide.eclipse.as.ui.ServerEditorPortSection">
      <section
            class="org.jboss.ide.eclipse.as.ui.editor.PortSection$JNDIPortEditorExtension">
      </section>
      <section
            class="org.jboss.ide.eclipse.as.ui.editor.PortSection$WebPortEditorExtension">
      </section>
   </extension>



<!-- Provisional stuff to be contributed to Webtools -->

   <extension point="org.eclipse.ui.views"> 
   	  <view
         id="org.jboss.ide.eclipse.as.ui.views.JBossServerView"
         name="%ViewName_JBossServerView"
         category="org.eclipse.wst.server.ui"
         class="org.jboss.tools.as.wst.server.ui.xpl.ServersView"
         icon="$nl$/icons/jboss.gif"/>
      <view
            category="org.eclipse.wst.server.ui"
            class="org.jboss.ide.eclipse.as.ui.views.ServerLogView"
            icon="$nl$/icons/console.gif"
            id="org.jboss.ide.eclipse.as.ui.view.serverLogView"
            name="%ViewName_ServerLog"
            restorable="true">
      </view>
   </extension>
   
	<extension
      point="org.eclipse.ui.navigator.navigatorContent">
	   <navigatorContent
	         activeByDefault="true"
	         contentProvider="org.jboss.tools.as.wst.server.ui.xpl.ServerContentProvider"
	         icon="$nl$/icons/cview16/servers_view.gif"
	         id="org.jboss.tools.as.wst.server.ui.ServersView.content.root"
	         labelProvider="org.jboss.tools.as.wst.server.ui.xpl.ServerLabelProvider"
	         name="%NavigatorContent_ServersViewDefaultContent"
	         priority="highest">
	      <triggerPoints>
	         <instanceof
	               value="java.lang.Object">
	         </instanceof>
	      </triggerPoints>
	      <possibleChildren>
          <instanceof
                value="java.lang.Object">
          </instanceof></possibleChildren>
	      <actionProvider
	            class="org.jboss.tools.as.wst.server.ui.xpl.ServerActionProvider"
	            id="org.jboss.tools.as.wst.server.ui.ServersView.ServerActionProvider"
	            priority="highest">
			<enablement>
             <or>
                <instanceof
                      value="org.eclipse.wst.server.core.IServer">
                </instanceof>
                <instanceof
                      value="org.eclipse.wst.server.ui.internal.view.servers.ModuleServer">
                </instanceof>
                <instanceof
                      value="org.eclipse.core.resources.IWorkspaceRoot">
                </instanceof>
               <adapt
                     type="java.util.Collection">
                  <count
                        value="0">
                  </count>
               </adapt>
             </or>
            </enablement>
	      </actionProvider>
       <dropAssistant
             class="org.jboss.tools.as.wst.server.ui.xpl.ServersViewDropAdapterAssistant"
             id="org.jboss.tools.as.wst.server.ui.ServersView.DropAssistant">
          <possibleDropTargets>
             <instanceof
                   value="org.eclipse.wst.server.core.IServer">
             </instanceof></possibleDropTargets>
       </dropAssistant>
	   </navigatorContent>
	</extension>
	<extension
	      point="org.eclipse.ui.navigator.viewer">
	   <viewerContentBinding
	         viewerId="org.jboss.ide.eclipse.as.ui.views.JBossServerView">
	      <includes>
	         <contentExtension
	               isRoot="true"
	               pattern="org.jboss.tools.as.wst.server.ui.ServersView.content.root">
	         </contentExtension>
	      </includes>
	   </viewerContentBinding>
	</extension>
	
		<extension
	      point="org.eclipse.ui.navigator.viewer">
	   <viewerContentBinding
	         viewerId="org.jboss.ide.eclipse.as.ui.views.JBossServerView">
	      <includes>
             <contentExtension
                isRoot="false"
                pattern="org.jboss.ide.eclipse.as.ui.extensions.xml">
             </contentExtension>
             <contentExtension
                   isRoot="false"
                   pattern="org.jboss.ide.eclipse.as.ui.extensions.jmx">
             </contentExtension>
             <contentExtension
                   isRoot="false"
                   pattern="org.jboss.tools.jmx.ui.internal.views.navigator.JMXLinkHelper">
             </contentExtension>
	      </includes>
	   </viewerContentBinding>
    <viewerActionBinding
          viewerId="org.jboss.ide.eclipse.as.ui.views.JBossServerView">
       <includes>
          <actionExtension
                pattern="org.jboss.ide.eclipse.as.ui.extensions.modules"/>
          <actionExtension
                pattern="org.jboss.ide.eclipse.as.ui.extensions.serverLog"/>
          <actionExtension
                pattern="org.jboss.ide.eclipse.as.ui.extensions.showInJMXView"/>
          <actionExtension
                pattern="org.jboss.tools.jmx.ui.internal.views.navigator.actionProvider">
          </actionExtension>
       </includes>
    </viewerActionBinding>
	</extension>
	
	
	
	
	<!-- Extensions to new Server View -->
	
	<extension
      point="org.eclipse.ui.navigator.navigatorContent">
    <navigatorContent
          activeByDefault="true"
          contentProvider="org.jboss.ide.eclipse.as.ui.views.server.extensions.XPathTreeContentProvider"
          icon="$nl$/icons/XMLFile.gif"
          id="org.jboss.ide.eclipse.as.ui.extensions.xml"
          labelProvider="org.jboss.ide.eclipse.as.ui.views.server.extensions.XPathTreeLabelProvider"
          name="%NavigatorContent_XMLConfiguration"
          priority="normal">
       <triggerPoints>
          <instanceof
                value="org.eclipse.wst.server.core.IServer">
          </instanceof>
       </triggerPoints>
       <possibleChildren>
          <or>
             <instanceof
                   value="org.jboss.ide.eclipse.as.ui.views.server.extensions.XPathTreeContentProvider$ServerWrapper">
             </instanceof>
             <instanceof
                   value="org.jboss.ide.eclipse.as.ui.views.server.extensions.XPathTreeContentProvider$DelayProxy">
             </instanceof>
             <instanceof
                   value="org.jboss.ide.eclipse.as.core.extensions.descriptors.XPathCategory">
             </instanceof>
             <instanceof
                   value="org.jboss.ide.eclipse.as.core.extensions.descriptors.XPathQuery">
             </instanceof>
             <instanceof
                   value="org.jboss.ide.eclipse.as.core.extensions.descriptors.XPathFileResult">
             </instanceof>
             <instanceof
                   value="org.jboss.ide.eclipse.as.core.extensions.descriptors.XPathFileResult$XPathResultNode">
             </instanceof></or>
       </possibleChildren>
       <actionProvider
             class="org.jboss.ide.eclipse.as.ui.views.server.extensions.XPathActionProvider"
             id="org.jboss.ide.eclipse.as.ui.extensions.xml.actions"
             priority="highest">
       </actionProvider>
    </navigatorContent>
    <actionProvider
          class="org.jboss.ide.eclipse.as.ui.views.server.extensions.ModuleActionProvider"
          id="org.jboss.ide.eclipse.as.ui.extensions.modules">
       <enablement>
          <instanceof
                value="org.eclipse.wst.server.ui.internal.view.servers.ModuleServer">
          </instanceof>
       </enablement>
    </actionProvider>
    <actionProvider
          class="org.jboss.ide.eclipse.as.ui.views.server.extensions.ServerLogActionProvider"
          id="org.jboss.ide.eclipse.as.ui.extensions.serverLog">
       <enablement>
          <instanceof
                value="org.eclipse.wst.server.core.IServer">
          </instanceof>
       </enablement>
    </actionProvider>
    <actionProvider
          class="org.jboss.ide.eclipse.as.ui.views.server.extensions.JMXProvider$ActionProvider"
          id="org.jboss.ide.eclipse.as.ui.extensions.showInJMXView">
       <enablement>
          <instanceof
                value="org.eclipse.wst.server.core.IServer">
          </instanceof>
       </enablement>
    </actionProvider>
    <navigatorContent
          activeByDefault="false"
          contentProvider="org.jboss.ide.eclipse.as.ui.views.server.extensions.JMXProvider$ContentProvider"
          icon="$nl$/icons/jmeth_obj.gif"
          id="org.jboss.ide.eclipse.as.ui.extensions.jmx"
          labelProvider="org.jboss.ide.eclipse.as.ui.views.server.extensions.JMXProvider$LabelProvider"
          name="%NavigatorContent_JMX"
          priority="low">
       <triggerPoints>
          <instanceof
                value="org.eclipse.wst.server.core.IServer">
          </instanceof>
       </triggerPoints>
       <possibleChildren>
          <or>
             <instanceof
                   value="org.jboss.tools.jmx.core.tree.Node">
             </instanceof>
             <instanceof
                   value="org.jboss.ide.eclipse.as.ui.views.server.extensions.JMXProvider$Wrapper">
             </instanceof>
             <instanceof
                   value="org.jboss.tools.jmx.ui.internal.views.navigator.MBeanExplorerContentProvider$DelayProxy">
             </instanceof>
             <instanceof
                   value="org.jboss.tools.jmx.core.MBeanFeatureInfoWrapper">
             </instanceof>
          </or>
       </possibleChildren>
    </navigatorContent>
	</extension>


	<extension
	      point="org.eclipse.ui.navigator.viewer">
	   <viewerContentBinding
	         viewerId="org.eclipse.wst.server.ui.ServersView">
	      <includes>
             <contentExtension
                isRoot="false"
                pattern="org.jboss.ide.eclipse.as.ui.extensions.xml">
             </contentExtension>
             <contentExtension
                   isRoot="false"
                   pattern="org.jboss.ide.eclipse.as.ui.extensions.jmx">
             </contentExtension>
             <contentExtension
                   isRoot="false"
                   pattern="org.jboss.tools.jmx.ui.internal.views.navigator.JMXLinkHelper">
             </contentExtension>
	      </includes>
	   </viewerContentBinding>
    <viewerActionBinding
          viewerId="org.eclipse.wst.server.ui.ServersView">
       <includes>
          <actionExtension
                pattern="org.jboss.ide.eclipse.as.ui.extensions.modules"/>
          <actionExtension
                pattern="org.jboss.ide.eclipse.as.ui.extensions.serverLog"/>
          <actionExtension
                pattern="org.jboss.ide.eclipse.as.ui.extensions.showInJMXView"/>
          <actionExtension
                pattern="org.jboss.tools.jmx.ui.internal.views.navigator.actionProvider">
          </actionExtension>
       </includes>
    </viewerActionBinding>
	</extension>
	
	
	<!-- Decorator for xpaths / xml-->
	<extension point="org.eclipse.ui.decorators">
      <decorator
            class="org.jboss.ide.eclipse.as.ui.views.server.extensions.XPathDecorator"
            id="org.jboss.ide.eclipse.as.ui.extensions.xml.decorator"
            label="JBoss Server XML Configuration Decorator"
            lightweight="true"
            location="BOTTOM_RIGHT">
         <enablement>
            <or>
               <objectClass name="org.jboss.ide.eclipse.as.core.extensions.descriptors.XPathQuery"/>
               <objectClass
                     name="org.jboss.ide.eclipse.as.core.extensions.descriptors.XPathFileResult">
               </objectClass>
               <objectClass
                     name="org.jboss.ide.eclipse.as.core.extensions.descriptors.XPathFileResult$XPathResultNode">
               </objectClass>
            </or>
         </enablement>
      </decorator>
   </extension>
	
	<!-- JMX Stuff -->
	   <extension
         point="org.jboss.tools.jmx.ui.providerUI">
      <providerUI
            icon="$nl$/icons/jboss.gif"
            id="org.jboss.ide.eclipse.as.core.extensions.jmx.JBossServerConnectionProvider"
            name="JBoss Server">
      </providerUI>
   </extension>
    <extension
          point="org.eclipse.debug.ui.launchConfigurationTypeImages">
       <launchConfigurationTypeImage
             configTypeID="org.jboss.ide.eclipse.as.core.server.startupConfiguration"
             icon="$nl$/icons/jboss.gif"
             id="org.jboss.ide.eclipse.as.ui.launchConfigurationTypeImage1">
       </launchConfigurationTypeImage>
    </extension>
	
</plugin>
