<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.jboss.tools.jmx.ui.attribute.controls" name="Attribute Controls" schema="schema/attributeControls.exsd"/>
   <extension-point id="org.jboss.tools.jmx.ui.attribute.bindings" name="Attribute Bindings" schema="schema/attributeBindings.exsd"/>
   <extension-point id="org.jboss.tools.jmx.ui.providerUI" name="Connection Provider UI" schema="schema/providerUI.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="%ViewCategory_JMX"
            id="org.jboss.tools.jmx.ui.views">
      </category>
      <view
            category="org.jboss.tools.jmx.ui.views"
            class="org.jboss.tools.jmx.ui.internal.views.navigator.JMXNavigator"
            icon="icons/full/obj16/jmeth_obj.gif"
            id="org.jboss.tools.jmx.ui.internal.views.navigator.MBeanExplorer"
            name="%MBeanExplorer.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.jboss.tools.jmx.ui.internal.views.navigator.MBeanExplorer">
      </viewer>
      <viewerContentBinding
            viewerId="org.jboss.tools.jmx.ui.internal.views.navigator.MBeanExplorer">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="org.jboss.tools.jmx.ui.internal.views.navigator.root">
            </contentExtension>
            <contentExtension
                  pattern="org.jboss.tools.jmx.ui.internal.views.navigator.JMXLinkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.jboss.tools.jmx.ui.internal.views.navigator.queryFilter">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.jboss.tools.jmx.ui.internal.views.navigator.MBeanExplorer">
         <includes>
            <actionExtension
                  pattern="org.jboss.tools.jmx.ui.internal.views.navigator.actionProvider">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.linkHelper">
      <linkHelper
            class="org.jboss.tools.jmx.ui.internal.views.navigator.JMXLinkHelper"
            id="org.jboss.tools.jmx.ui.internal.views.navigator.JMXLinkHelper">
         <selectionEnablement>
            <or>
               <instanceof
                     value="org.jboss.tools.jmx.core.IConnectionWrapper">
               </instanceof>
               <instanceof
                     value="org.jboss.tools.jmx.core.tree.Node">
               </instanceof>
               <instanceof
                     value="org.jboss.tools.jmx.core.MBeanFeatureInfoWrapper">
               </instanceof>
            </or>
         </selectionEnablement>
         <editorInputEnablement>
            <or>
               <instanceof
                     value="java.lang.Object">
               </instanceof>
            </or>
         </editorInputEnablement>
      </linkHelper>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.jboss.tools.jmx.ui.internal.views.navigator.MBeanExplorerContentProvider"
            icon="icons/full/obj16/jmeth_obj.gif"
            id="org.jboss.tools.jmx.ui.internal.views.navigator.root"
            labelProvider="org.jboss.tools.jmx.ui.internal.views.navigator.MBeanExplorerLabelProvider"
            name="%NavigatorContent_MBeans"
            priority="normal">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.jboss.tools.jmx.core.tree.Node">
               </instanceof>
               <instanceof
                     value="org.jboss.tools.jmx.core.IConnectionProvider">
               </instanceof>
               <instanceof
                     value="org.jboss.tools.jmx.ui.internal.views.navigator.MBeanExplorerContentProvider$DelayProxy">
               </instanceof>
               <instanceof
                     value="org.jboss.tools.jmx.core.MBeanFeatureInfoWrapper">
               </instanceof>
               <instanceof
                     value="org.eclipse.ui.IViewPart">
               </instanceof>
               <instanceof
                     value="org.jboss.tools.jmx.core.IConnectionWrapper">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.jboss.tools.jmx.core.tree.Node">
               </instanceof>
               <instanceof
                     value="org.jboss.tools.jmx.core.IConnectionProvider">
               </instanceof>
               <instanceof
                     value="org.jboss.tools.jmx.ui.internal.views.navigator.MBeanExplorerContentProvider$DelayProxy">
               </instanceof>
               <instanceof
                     value="org.jboss.tools.jmx.core.MBeanFeatureInfoWrapper">
               </instanceof>
               <instanceof
                     value="org.jboss.tools.jmx.core.IConnectionWrapper">
               </instanceof>
            </or>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            class="org.jboss.tools.jmx.ui.internal.views.navigator.ActionProvider"
            id="org.jboss.tools.jmx.ui.internal.views.navigator.actionProvider">
         <enablement>
            <or>
               <adapt
                     type="java.util.Collection">
                  <count
                        value="0">
                  </count>
               </adapt>
               <instanceof
                     value="org.jboss.tools.jmx.core.IConnectionWrapper">
               </instanceof>
               <instanceof
                     value="org.jboss.tools.jmx.core.tree.Node">
               </instanceof>
               <instanceof
                     value="org.jboss.tools.jmx.core.MBeanFeatureInfoWrapper">
               </instanceof>
            </or>
         </enablement>
      </actionProvider>
      <commonFilter
            activeByDefault="true"
            class="org.jboss.tools.jmx.ui.internal.views.navigator.QueryContribution$QueryFilter"
            description="A filter which uses the text box provided in the view"
            id="org.jboss.tools.jmx.ui.internal.views.navigator.queryFilter"
            name="Query Filter">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="MBean Editor"
            id="org.jboss.tools.jmx.ui.internal.editors.MBeanEditor"
            class="org.jboss.tools.jmx.ui.internal.editors.MBeanEditor"
            extensions="jmx"
            icon="icons/releng_gears.gif">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
         <actionSet
            label="%MBeanActionSet.label"
            description="%MBeanActionSet.description"
            visible="false"
            id="org.jboss.tools.jmx.ui.MBeanActionSet">
           <action
               id="openMBean"
               class="org.jboss.tools.jmx.ui.internal.actions.OpenMBeanAction"
               definitionId="org.jboss.tools.jmx.ui.navigate.open.mbean"
               label="%OpenMBeanAction.label"
               menubarPath="navigate/open.ext2"
               tooltip="%OpenMBeanAction.tooltip">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.jboss.tools.jmx.ui.internal.perspectives.JMXPerspective"
            icon="icons/releng_gears.gif"
            id="org.jboss.tools.jmx.ui.perspectives.JMXPerspective"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.jboss.tools.jmx.ui.perspectives.JMXPerspective">
           <actionSet
               id="org.jboss.tools.jmx.ui.MBeanActionSet" />
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="%ActionDefinition.openMBean.name"
            description="%ActionDefinition.openMBean.description"
            categoryId="org.eclipse.ui.category.navigate"
            id="org.jboss.tools.jmx.ui.navigate.open.mbean">
      </command>    
   </extension>
   <extension
         point="org.jboss.tools.jmx.ui.attribute.controls">
      <control
            id="org.jboss.tools.jmx.ui.attribute.displays.Text"
            class="org.jboss.tools.jmx.ui.internal.controls.TextControlFactory"
	      	type="java.lang.String">
      </control>
      <control
            id="org.jboss.tools.jmx.ui.attribute.displays.Array"
            class="org.jboss.tools.jmx.ui.internal.controls.ArrayControlFactory"
            type="java.lang.reflect.Array">
      </control>
      <control
            id="org.jboss.tools.jmx.ui.attribute.displays.Boolean"
            class="org.jboss.tools.jmx.ui.internal.controls.BooleanControlFactory"
            type="java.lang.Boolean">
      </control>
      <control
            id="org.jboss.tools.jmx.ui.attribute.displays.Collection"
            class="org.jboss.tools.jmx.ui.internal.controls.CollectionControlFactory"
            type="java.util.Collection">
      </control>
      <control
            id="org.jboss.tools.jmx.ui.attribute.displays.Map"
            class="org.jboss.tools.jmx.ui.internal.controls.MapControlFactory"
            type="java.util.Map">
      </control>
      <control
            id="org.jboss.tools.jmx.ui.attribute.displays.CompositeData"
            class="org.jboss.tools.jmx.ui.internal.controls.CompositeDataControlFactory"
            type="javax.management.openmbean.CompositeData">
      </control>
      <control
            id="org.jboss.tools.jmx.ui.attribute.displays.TabularData"
            class="org.jboss.tools.jmx.ui.internal.controls.TabularDataControlFactory"
            type="javax.management.openmbean.TabularData">
      </control>
   </extension>
   <extension
         point="org.jboss.tools.jmx.ui.providerUI">
      <providerUI
            icon="icons/full/obj16/write_obj.gif"
            id="org.jboss.tools.jmx.core.providers.DefaultConnectionProvider"
            name="%DefaultJMXConnectionProvider.name">
         <wizardPage
               class="org.jboss.tools.jmx.ui.internal.wizards.DefaultConnectionWizardPage">
         </wizardPage>
      </providerUI>
   </extension>
</plugin>
