<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="jvmConnectionLabelProvider" name="jvmConnectionLabelProvider" schema="schema/jvmConnectionLabelProvider.exsd"/>
   
   <extension
         point="org.jboss.tools.jmx.core.MBeanServerConnectionProvider">
      <connectionProvider
            class="org.jboss.tools.jmx.local.internal.JVMConnectionProvider">
      </connectionProvider>
   </extension>


   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.jboss.tools.jmx.ui.internal.views.navigator.MBeanExplorer">
      </viewer>
      <viewerActionBinding
            viewerId="org.jboss.tools.jmx.ui.internal.views.navigator.MBeanExplorer">
         <includes>
            <actionExtension
                  pattern="org.jboss.tools.jmx.local.internal.actions.AttachActionProvider">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="org.jboss.tools.jmx.local.internal.actions.AttachActionProvider"
            id="org.jboss.tools.jmx.local.internal.actions.AttachActionProvider">
         <enablement>
            <or>
               <adapt
                     type="java.util.Collection">
                  <count
                        value="0">
                  </count>
               </adapt>
               <instanceof
                     value="org.jboss.tools.jmx.core.IConnectionWrapper">
               </instanceof>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.jboss.tools.jmx.ui.providerUI">
      <providerUI
            editable="false"
            icon="image/container.gif"
            id="org.jboss.tools.jmx.local.JVMConnectionProvider"
            name="Local Java Process">
         <connectionLabelProvider
               class="org.jboss.tools.jmx.local.internal.ui.JVMConnectionLabelProvider">
         </connectionLabelProvider>
      </providerUI>
   </extension>
   <extension
         point="org.jboss.tools.jmx.local.jvmConnectionLabelProvider">
      <labelProvider
            class="org.jboss.tools.jmx.local.internal.ui.MavenLabelProvider"
            weight="5">
      </labelProvider>
      <labelProvider
            class="org.jboss.tools.jmx.local.internal.ui.EclipseProcessLabelProvider"
            weight="5">
      </labelProvider>
      <labelProvider
            class="org.jboss.tools.jmx.local.internal.ui.JavaProcessLabelProvider"
            weight="10">
      </labelProvider>
   </extension>

</plugin>
