<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.jboss.ide.eclipse.as.classpath.core.ejb3.EJB3ClasspathContainerInitializer"
            id="org.jboss.ide.eclipse.as.classpath.core.ejb3.classpathContainer"/>
   </extension>
   

   <extension
         point="org.eclipse.wst.common.project.facet.core.runtimes">

     <adapter>
      <runtime-component
            id="org.jboss.ide.eclipse.as.runtime.component" version="3.2"/>
      <factory class="org.jboss.ide.eclipse.as.classpath.core.runtime.ProjectRuntimeClasspathProvider$Factory"/>
      <type class="org.eclipse.jst.common.project.facet.core.IClasspathProvider"/>
	</adapter>
	
     <adapter>
      <runtime-component
            id="org.jboss.ide.eclipse.as.runtime.component" version="4.0"/>
      <factory class="org.jboss.ide.eclipse.as.classpath.core.runtime.ProjectRuntimeClasspathProvider$Factory"/>
      <type class="org.eclipse.jst.common.project.facet.core.IClasspathProvider"/>
	</adapter>
	
     <adapter>
      <runtime-component
            id="org.jboss.ide.eclipse.as.runtime.component" version="4.2"/>
      <factory class="org.jboss.ide.eclipse.as.classpath.core.runtime.ProjectRuntimeClasspathProvider$Factory"/>
      <type class="org.eclipse.jst.common.project.facet.core.IClasspathProvider"/>
	</adapter>

     <adapter>
      <runtime-component
            id="org.jboss.ide.eclipse.as.runtime.component" version="5.0"/>
      <factory class="org.jboss.ide.eclipse.as.classpath.core.runtime.ProjectRuntimeClasspathProvider$Factory"/>
      <type class="org.eclipse.jst.common.project.facet.core.IClasspathProvider"/>
	</adapter>
	
	 <adapter>
      <runtime-component
            id="org.jboss.ide.eclipse.as.runtime.component" version="5.1"/>
      <factory class="org.jboss.ide.eclipse.as.classpath.core.runtime.ProjectRuntimeClasspathProvider$Factory"/>
      <type class="org.eclipse.jst.common.project.facet.core.IClasspathProvider"/>
	</adapter>
	
	<adapter>
      <runtime-component
            id="org.jboss.ide.eclipse.as.runtime.component" version="6.0"/>
      <factory class="org.jboss.ide.eclipse.as.classpath.core.runtime.ProjectRuntimeClasspathProvider$Factory"/>
      <type class="org.eclipse.jst.common.project.facet.core.IClasspathProvider"/>
	</adapter>
	
     <adapter>
      <runtime-component
            id="org.jboss.ide.eclipse.eap.runtime.component" version="4.3"/>
      <factory class="org.jboss.ide.eclipse.as.classpath.core.runtime.ProjectRuntimeClasspathProvider$Factory"/>
      <type class="org.eclipse.jst.common.project.facet.core.IClasspathProvider"/>
	</adapter>

     <adapter>
      <runtime-component
            id="org.jboss.ide.eclipse.eap.runtime.component" version="5.0"/>
      <factory class="org.jboss.ide.eclipse.as.classpath.core.runtime.ProjectRuntimeClasspathProvider$Factory"/>
      <type class="org.eclipse.jst.common.project.facet.core.IClasspathProvider"/>
	</adapter>
	
	
   </extension>
   
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.jboss.ide.eclipse.as.classpath.core.runtime.WebtoolsProjectJBossClasspathContainerInitializer"
            id="org.jboss.ide.eclipse.as.classpath.core.runtime.ProjectInitializer"/>
   </extension>
 


   <extension point="org.eclipse.jst.server.core.runtimeClasspathProviders">
     <runtimeClasspathProvider
        id="org.jboss.ide.eclipse.as.core.server.runtime.runtimeTarget"
        runtimeTypeIds="org.jboss.ide.eclipse.as.runtime.32, org.jboss.ide.eclipse.as.runtime.40, org.jboss.ide.eclipse.as.runtime.42,org.jboss.ide.eclipse.as.runtime.50,org.jboss.ide.eclipse.as.runtime.51,org.jboss.ide.eclipse.as.runtime.60,org.jboss.ide.eclipse.as.runtime.eap.43,org.jboss.ide.eclipse.as.runtime.eap.50"
        class="org.jboss.ide.eclipse.as.classpath.core.runtime.ClientAllRuntimeClasspathProvider"/>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.jboss.ide.eclipse.as.classpath.core.runtime.ProjectRuntimeClasspathProvider$RuntimeClasspathContainerInitializer"
            id="org.jboss.ide.eclipse.as.classpath.core.runtime.ProjectRuntimeInitializer">
      </classpathContainerInitializer>
   </extension>
   
   
   
   <!-- J2EE Libraries -->
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.jboss.ide.eclipse.as.classpath.core.jee.J2EE13ClasspathContainerInitializer"
            id="org.jboss.ide.eclipse.as.classpath.core.j2ee-1.3">
      </classpathContainerInitializer>
      <classpathContainerInitializer
            class="org.jboss.ide.eclipse.as.classpath.core.jee.J2EE14ClasspathContainerInitializer"
            id="org.jboss.ide.eclipse.as.classpath.core.j2ee-1.4">
      </classpathContainerInitializer>
      <classpathContainerInitializer
            class="org.jboss.ide.eclipse.as.classpath.core.jee.J2EE50ClasspathContainerInitializer"
            id="org.jboss.ide.eclipse.as.classpath.core.javaee-5.0">
      </classpathContainerInitializer>

	<!-- Legacy ID's -->
      <classpathContainerInitializer
            class="org.jboss.ide.eclipse.as.classpath.core.jee.J2EE13ClasspathContainerInitializer"
            id="org.jboss.ide.eclipse.jdt.core.classpath.j2ee-1.3">
      </classpathContainerInitializer>
      <classpathContainerInitializer
            class="org.jboss.ide.eclipse.as.classpath.core.jee.J2EE14ClasspathContainerInitializer"
            id="org.jboss.ide.eclipse.jdt.core.classpath.j2ee-1.4">
      </classpathContainerInitializer>
   </extension>
   
   <!--
   Cannot be enabled before resource change listening is implemented.(max)
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.jboss.ide.eclipse.as.classpath.core.DirectoryLibraryContainerInitializer"
            id="org.jboss.ide.eclipse.as.classpath.core.DirectoryLibraryContainer">
      </classpathContainerInitializer>
   </extension>
   -->
   
</plugin>
