<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension-point id="pollers" name="org.jboss.ide.eclipse.as.core.runtime.server.pollers" schema="schema/pollers.exsd"/>
   <extension-point id="pollerTimeoutListener" name="org.jboss.ide.eclipse.as.core.pollerTimeoutListener" schema="schema/pollerTimeoutListener.exsd"/>
   		
   <extension
         point="org.eclipse.wst.server.core.serverTypes">
      <serverType
            behaviourClass="org.jboss.ide.eclipse.as.core.server.JBossServerBehavior"
            class="org.jboss.ide.eclipse.as.core.server.JBossServer"
            description="%jboss.version.32.description"
            hasConfiguration="true"
            id="org.jboss.ide.eclipse.as.32"
            initialState="stopped"
            launchConfigId="org.jboss.ide.eclipse.as.core.server.launchConfiguration"
            launchModes="run,debug"
            name="%jboss.version.32.name"
            runtime="true"
            runtimeTypeId="org.jboss.ide.eclipse.as.runtime.32"
            startBeforePublish="false"
            startTimeout="450000"
            stopTimeout="450000" 
            supportsRemoteHosts="false"/>
              
      <serverType
            behaviourClass="org.jboss.ide.eclipse.as.core.server.JBossServerBehavior"
            class="org.jboss.ide.eclipse.as.core.server.JBossServer"
            description="%jboss.version.40.description"
            hasConfiguration="true"
            id="org.jboss.ide.eclipse.as.40"
            initialState="stopped"
            launchConfigId="org.jboss.ide.eclipse.as.core.server.launchConfiguration"
            launchModes="run,debug"
            name="%jboss.version.40.name"
            runtime="true"
            runtimeTypeId="org.jboss.ide.eclipse.as.runtime.40"
            startBeforePublish="false"
            startTimeout="450000"
            stopTimeout="450000"
            supportsRemoteHosts="false"/>
            
      <serverType
            behaviourClass="org.jboss.ide.eclipse.as.core.server.JBossServerBehavior"
            class="org.jboss.ide.eclipse.as.core.server.JBossServer"
            description="%jboss.version.42.description"
            hasConfiguration="true"
            id="org.jboss.ide.eclipse.as.42"
            initialState="stopped"
            launchConfigId="org.jboss.ide.eclipse.as.core.server.launchConfiguration"
            launchModes="run,debug"
            name="%jboss.version.42.name"
            runtime="true"
            runtimeTypeId="org.jboss.ide.eclipse.as.runtime.42"
            startBeforePublish="false"
            startTimeout="450000"
            stopTimeout="450000" 
            supportsRemoteHosts="false"/>
            
      <serverType
            behaviourClass="org.jboss.ide.eclipse.as.core.server.stripped.DeployableServerBehavior"
            class="org.jboss.ide.eclipse.as.core.server.stripped.DeployableServer"
            description="A server which cannot be started, stopped, or debugged\nbut provides a deploy folder for publishing."
            hasConfiguration="true"
            id="org.jboss.ide.eclipse.as.systemCopyServer"
            initialState="stopped"
            launchConfigId="org.jboss.ide.eclipse.as.core.server.stripped.launchConfiguration"
            launchModes="run,debug"
            name="JBoss System Copy Server"
            runtime="false"
            runtimeTypeId="org.jboss.ide.eclipse.as.runtime.stripped"
            startBeforePublish="false"
            startTimeout="100000"
            stopTimeout="100000"
            supportsRemoteHosts="true"/>
   </extension>

   <extension
         point="org.eclipse.wst.server.core.runtimeTypes">
      <runtimeType
            vendor="%providerName"
            class="org.jboss.ide.eclipse.as.core.runtime.server.JBoss32ServerRuntime"
            description="%jboss.version.32.description"
            name="JBoss 3.2 Runtime"
            id="org.jboss.ide.eclipse.as.runtime.32"
            version="3.2">
          <moduleType
                types="jst.web"
                versions="2.2, 2.3, 2.4"/>
          <moduleType
                types="jst.ejb"
                versions="1.0, 1.1, 2.0, 2.1"/>
          <moduleType
                types="jst.ear"
                versions="1.2, 1.3, 1.4"/>
          <moduleType
                types="jboss.package"
                versions="1.0"/>
               
      </runtimeType>
      <runtimeType
             vendor="%providerName"
             class="org.jboss.ide.eclipse.as.core.runtime.server.JBoss40ServerRuntime"
             description="%jboss.version.40.description"
             name="JBoss 4.0 Runtime"
             id="org.jboss.ide.eclipse.as.runtime.40"
             version="4.0">
          <moduleType
                types="jst.web"
                versions="2.2, 2.3, 2.4, 2.5"/>
          <moduleType
                types="jst.ejb"
                versions="1.0, 1.1, 2.0, 2.1, 3.0"/>
          <moduleType
                types="jst.ear"
                versions="1.2, 1.3, 1.4"/>
          <moduleType
                types="jboss.package"
                versions="1.0"/>
      </runtimeType>
      <runtimeType
             vendor="%providerName"
             class="org.jboss.ide.eclipse.as.core.runtime.server.JBoss42ServerRuntime"
             description="%jboss.version.42.description"
             name="JBoss 4.2 Runtime"
             id="org.jboss.ide.eclipse.as.runtime.42"
             version="4.2">
          <moduleType
                types="jst.web"
                versions="2.2, 2.3, 2.4, 2.5"/>
          <moduleType
                types="jst.ejb"
                versions="1.0, 1.1, 2.0, 2.1, 3.0"/>
          <moduleType
                types="jst.ear"
                versions="1.2, 1.3, 1.4, 5.0"/>
          <moduleType
                types="jboss.package"
                versions="1.0"/>
      </runtimeType>



      <runtimeType
            class="org.jboss.ide.eclipse.as.core.server.stripped.DeployableServerRuntime"
            description="A runtime provided to allow a deploy-only server the ability to deploy certain project types."
            id="org.jboss.ide.eclipse.as.runtime.stripped"
            name="JBoss Deploy-only"
            vendor="%providerName"
            version="1.0">
          <moduleType
                types="jst.web"
                versions="2.2, 2.3, 2.4, 2.5"/>
          <moduleType
                types="jst.ejb"
                versions="1.0, 1.1, 2.0, 2.1, 3.0"/>
          <moduleType
                types="jst.ear"
                versions="1.2, 1.3, 1.4, 1.5"/>
          <moduleType
                types="jboss.package"
                versions="1.0"/>
            
      </runtimeType>
   </extension>


	<!-- Launch Configuration for the servers -->
	<extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            category="JBoss"
            delegate="org.jboss.ide.eclipse.as.core.server.JBossServerLaunchConfiguration"
            id="org.jboss.ide.eclipse.as.core.server.launchConfiguration"
            modes="run,debug"
            name="JBoss Application Server"
            public="true"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"/>
      <launchConfigurationType
            delegate="org.jboss.ide.eclipse.as.core.server.stripped.DeployableLaunchConfiguration"
            id="org.jboss.ide.eclipse.as.core.server.stripped.launchConfiguration"
            modes="run,debug"
            name="Stripped Server Launch Configuration"
            public="false"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"/>
   </extension>
	
	
	<!-- Module Factory Stuff -->

   <extension
         point="org.eclipse.wst.server.core.moduleFactories">
      <moduleFactory
            class="org.jboss.ide.eclipse.as.core.packages.PackageModuleFactory"
            id="org.jboss.ide.eclipse.as.core.PackageModuleFactory"
            projects="true">
         <moduleType
               types="jboss.package"
               versions="1.0"/>
      </moduleFactory>
   </extension>
   
   		
   		
   
   <!-- Adapters and clients to make stuff 'runnable' on server -->
   <extension
         point="org.eclipse.wst.server.core.moduleArtifactAdapters">
      <moduleArtifactAdapter
            class="org.jboss.ide.eclipse.as.core.packages.PackagedArtifactAdapter"
            id="org.jboss.ide.eclipse.as.core.PackagedArtifactAdapter"
            priority="0">
         <enablement>
            <or>
               <instanceof value="org.eclipse.core.resources.IProject"/>
               <instanceof value="org.eclipse.jdt.core.IJavaProject"/>
            </or>
         </enablement>
		</moduleArtifactAdapter>
   </extension>
   
   <extension
         point="org.eclipse.wst.server.core.launchableAdapters">
      <launchableAdapter
            class="org.jboss.ide.eclipse.as.core.client.JBossLaunchAdapter"
            id="org.jboss.ide.eclipse.as.core.launchableAdapter1"/>
   </extension>

   <!-- How to determine whether the server is up or down -->
   <extension
         point="org.jboss.ide.eclipse.as.core.pollers">
      <serverPoller
            class="org.jboss.ide.eclipse.as.core.runtime.server.polling.TimeoutPoller"
            id="org.jboss.ide.eclipse.as.core.runtime.server.timeoutpoller"
            name="Timeout Poller"
            supportsStartup="true"
            supportsShutdown="true"/>
      <serverPoller
            class="org.jboss.ide.eclipse.as.core.runtime.server.polling.JMXPoller"
            id="org.jboss.ide.eclipse.as.core.runtime.server.JMXPoller"
            name="JMX Poller"
            supportsStartup="true"
            supportsShutdown="true"/>
      <serverPoller
            class="org.jboss.ide.eclipse.as.core.runtime.server.polling.ProcessTerminatedPoller"
            id="org.jboss.ide.eclipse.as.core.runtime.server.processTerminatedPoller"
            name="Process Terminated Poller"
            supportsShutdown="true"
            supportsStartup="false">
      </serverPoller>
   </extension>
   
   


   <!-- Stuff for the dual model of runtimes... facet time baby! -->
   <extension
         point="org.eclipse.jst.server.core.runtimeFacetMappings">
      <runtimeFacetMapping
            runtime-component="org.jboss.ide.eclipse.as.runtime.component.32"
            runtimeTypeId="org.jboss.ide.eclipse.as.runtime.32"
            version="3.2"/>
      <runtimeFacetMapping
            runtime-component="org.jboss.ide.eclipse.as.runtime.component.40"
            runtimeTypeId="org.jboss.ide.eclipse.as.runtime.40"
            version="4.0"/>
      <runtimeFacetMapping
            runtime-component="org.jboss.ide.eclipse.as.runtime.component.42"
            runtimeTypeId="org.jboss.ide.eclipse.as.runtime.42"
            version="4.2"/>
   </extension>




   <extension
         point="org.eclipse.wst.common.project.facet.core.runtimes">
      <runtime-component-type id="org.jboss.ide.eclipse.as.runtime.component.32"/>
      <runtime-component-type id="org.jboss.ide.eclipse.as.runtime.component.40"/>
      <runtime-component-type id="org.jboss.ide.eclipse.as.runtime.component.42"/>
      <runtime-component-version
            type="org.jboss.ide.eclipse.as.runtime.component.32"
            version="3.2"/>
      <runtime-component-version
            type="org.jboss.ide.eclipse.as.runtime.component.40"
            version="4.0"/>
      <runtime-component-version
            type="org.jboss.ide.eclipse.as.runtime.component.42"
            version="4.2"/>




      <supported>
        <runtime-component
         id="org.jboss.ide.eclipse.as.runtime.component.32"
         version="3.2"/>
       <facet
         id="jst.web"
         version="2.2,2.3,2.4"/>
       <facet id="jst.java" version="1.3,1.4,5.0"/>  
       <facet
         id="jst.utility"
         version="1.0"/>
       <facet
             id="jst.ejb"
             version="2.0,2.1"/>
       <facet
             id="jst.ear"
             version="1.2,1.3,1.4"/>
       <facet
             id="jst.appclient"
             version="1.2,1.3,1.4"/>
     </supported>


      <supported>
        <runtime-component
         id="org.jboss.ide.eclipse.as.runtime.component.40"
         version="4.0"/>
       <facet id="jst.web"  version="2.2,2.3,2.4,2.5"/>
       <facet id="jst.java" version="1.3,1.4,5.0"/>  
       <facet id="jst.utility" version="1.0"/>
       <facet id="jst.ejb" version="2.0,2.1,3.0"/>
       <facet id="jst.ear" version="1.2,1.3,1.4"/>
       <facet id="jst.appclient" version="1.2,1.3,1.4"/>
     </supported>

      <supported>
        <runtime-component
         	id="org.jboss.ide.eclipse.as.runtime.component.42"
         	version="4.2"/>
       <facet id="jst.web"  version="2.2,2.3,2.4,2.5"/>
       <facet id="jst.java" version="1.3,1.4,5.0"/>  
       <facet id="jst.utility" version="1.0"/>
       <facet id="jst.ejb" version="2.0,2.1,3.0"/>
       <facet id="jst.ear" version="1.2,1.3,1.4"/>
       <facet id="jst.appclient" version="1.2,1.3,1.4"/>
     </supported>

     <adapter>
      <runtime-component
            id="org.jboss.ide.eclipse.as.runtime.component.32"
            version="3.2"/>
      <factory
         class="org.jboss.ide.eclipse.as.core.runtime.internal.ProjectRuntimeClasspathProvider$Factory"/>
      <type
         class="org.eclipse.jst.common.project.facet.core.IClasspathProvider"/>
	</adapter>
	
     <adapter>
      <runtime-component
            id="org.jboss.ide.eclipse.as.runtime.component.40"
            version="4.0"/>
      <factory
         class="org.jboss.ide.eclipse.as.core.runtime.internal.ProjectRuntimeClasspathProvider$Factory"/>
      <type
         class="org.eclipse.jst.common.project.facet.core.IClasspathProvider"/>
	</adapter>
	
     <adapter>
      <runtime-component
            id="org.jboss.ide.eclipse.as.runtime.component.42"
            version="4.2"/>
      <factory
         class="org.jboss.ide.eclipse.as.core.runtime.internal.ProjectRuntimeClasspathProvider$Factory"/>
      <type
         class="org.eclipse.jst.common.project.facet.core.IClasspathProvider"/>
	</adapter>
   </extension>
   
   
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.jboss.ide.eclipse.as.core.runtime.internal.WebtoolsProjectJBossClasspathContainerInitializer"
            id="org.jboss.ide.eclipse.as.core.runtime.ProjectInitializer"/>
   </extension>

   <extension point="org.eclipse.jst.server.core.runtimeClasspathProviders">
     <runtimeClasspathProvider
        id="org.jboss.ide.eclipse.as.core.server.runtime.runtimeTarget"
        runtimeTypeIds="org.jboss.ide.eclipse.as.runtime.32, org.jboss.ide.eclipse.as.runtime.40, org.jboss.ide.eclipse.as.runtime.42"
        class="org.jboss.ide.eclipse.as.core.runtime.internal.ClientAllRuntimeClasspathProvider"/>
   </extension>
   <extension
         point="org.eclipse.wst.server.core.moduleTypes">
      <moduleType
            id="jboss.package"
            name="Project Package"/>  
   </extension>
   <extension
         point="org.jboss.ide.eclipse.archives.core.archiveTypes">
      <packageType
            class="org.jboss.ide.eclipse.as.core.packages.types.WarArchiveType"
            id="org.jboss.ide.eclipse.as.core.packages.warArchive"
            label="WAR"/>
      <packageType
            class="org.jboss.ide.eclipse.as.core.packages.types.EjbArchiveType"
            id="org.jboss.ide.eclipse.as.core.packages.ejbPackageType"
            label="EJB JAR"/>
      <packageType
            class="org.jboss.ide.eclipse.as.core.packages.types.EarArchiveType"
            id="org.jboss.ide.eclipse.as.core.packages.earPackageType"
            label="EAR"/>
   </extension>
</plugin>
