<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.jboss.tools.jmx.ui.test.interactive.Activator">
      </startup>
   </extension>
   <extension
         point="org.jboss.tools.jmx.ui.attribute.controls">
      <control
            id="org.jboss.tools.jmx.ui.test.interactive.redDisplay"
            class="org.jboss.tools.jmx.ui.test.interactive.RedTextControlFactory"
            type="java.lang.String">
      </control>
      <control
            id="org.jboss.tools.jmx.ui.test.interactive.greenDisplay"
            class="org.jboss.tools.jmx.ui.test.interactive.GreenTextControlFactory"
            type="java.lang.String">
      </control>
   </extension>
   <extension
         point="org.jboss.tools.jmx.ui.attribute.bindings">
      <binding
            name="RedString"
            objectName="org.jboss.tools.jmx.test:type=CustomizedAttributes"
            controlID="org.jboss.tools.jmx.ui.test.interactive.redDisplay">
      </binding>
      <binding
            name="GreenString"
            objectName="org.jboss.tools.jmx.test:type=CustomizedAttributes"
            controlID="org.jboss.tools.jmx.ui.test.interactive.greenDisplay">
      </binding>
   </extension>
</plugin>
